<form [formGroup]="myForm">
    <input type="text" formControlName="name" placeholder="Name">
    <input type="email" formControlName="email" placeholder="Email">
    <button type="submit" [disabled]="!myForm.valid" (click)="onLogin()">Submit</button>
</form>


<!---<input matInput class="email-field" placeholder="Enter your Email" [(ngModel)]="loginObj.email" name="email" required />

<input matInput class="password-field" [(ngModel)]="loginObj.password" name="password" required />

<button mat-button class="login" (click)="onLogin()">
    <span class="Login-btn-name">Login</span>
</button>-->