<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
/>

<app-nav-bar></app-nav-bar>
<div class="body" fxLayout="column" fxLayoutAlign="center center">
  <div class="title"><span>Login to FirstStep</span></div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input
            matInput
            placeholder="Enter your Email"
            [(ngModel)]="loginObj.email"
            name="email"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="loginObj.password"
            name="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <span class="forgot-password"
          >Forgot your password?
          <a href="forgotPassword" class="reset">Reset</a></span
        >
        <button mat-button class="login" (click)="onLogin()">Login</button>

        <span class="signUp"
          >New here? <a href="forgotPassword" class="signUp">signUp</a></span
        >
      </mat-card-content>
    </mat-card>
  </div>
</div>
