<p>Register your Company</p>

<form>
    <h2>Contact Us</h2>
    <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" value={{cmpData.company_name}} id="companyName" name="companyName" required>
    </div>
    <div class="form-group">
        <label for="websiteUrl">URL of the Website</label>
        <input type="url" class="form-control" value={{cmpData.company_website}} id="websiteUrl" name="websiteUrl" required>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" value={{cmpData.company_email}} id="emailAddress" name="emailAddress" required>
    </div>
    <div class="form-group">
        <label for="emailAddress">Contact No</label>
        <input type="email" class="form-control" value={{cmpData.company_phone_number}} id="emailAddress" name="emailAddress" required>
    </div>
    <div class="form-group">
        <label for="emailAddress">Company Logo</label>
        <input type="email" class="form-control" value={{cmpData.company_logo}} id="emailAddress" name="emailAddress" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>