.container{
  margin-top: 4em;
  margin-left: 4em;
  margin-right: 4em;
}

.page-title p{          
  color: #008080;
  font-family: Lato;
  font-size: 30px;
}

.page-title{
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  

  .mat-column-symbol {
    text-align: right;
  }

  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  mat-icon{
    font-family:'Material Icons';
  }



  