mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  height: 4em;
  background-color: white;
  position: absolute;
  z-index: 2;
  margin-top: 0;
}
.mat-toolbar {
  position: relative;
  z-index: 2;
}
.logo {
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.5em;
}
.profile-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 5px;
}
.flex-spacer {
  flex: 1 1 auto;
}
.right-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}
.profile-info {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.company {
  font-style: italic;
  font-weight: 300;
}
.profile-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 5px;
}
.matMenu {
  background-color: brown;
}
