<div class="body">
    <mat-card class="card">
        <h2>Select Appointment Time</h2>
        <mat-grid-list cols="3" rowHeight="70">

            <mat-grid-tile [colspan]="1">

                <div class="text-icon-container">
                    <i class="material-icons">access_time</i>
                    <span class="icon-text">{{advertismentDetails['interview_duration']}}min</span>
                </div>

            </mat-grid-tile>

            <mat-grid-tile [colspan]="2">

                <div class="text-icon-container">
                    <i class="material-icons">work</i>
                    <span class="icon-text">{{advertismentDetails['title']}}</span>
                </div>

            </mat-grid-tile>

            <mat-grid-tile [colspan]="1">

                <div class="text-icon-container">
                    <i class="material-icons">business</i>
                    <span class="icon-text">{{advertismentDetails['company_name']}}</span>
                </div>

            </mat-grid-tile>

        </mat-grid-list>

        <mat-divider></mat-divider>

        <div class="header">

            <div class="timezone">(GMT+5:30) Time in Sri Lanka </div>
        </div>
        <div class="week">
            <div class="day" *ngFor="let day of schedule2">
                <div class="day-name">{{ day.number }}</div>
                <div class="timeslots">
                    <button color="primary" (click)="showPopup(day.number,day.number,slot['start'],slot['id'])" mat-button *ngFor="let slot of day.timeSlots" class="timeslot">
                        {{ slot['start'] }}
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>


<div class="modal" [ngClass]="{'show': isPopupVisible}" (click)="closePopup()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closePopup()">&times;</span>
        <h2>Confirm Appointment</h2>
        <p>By confirming, your interview appointment will be booked. This cannot be changed without contacting the relevant company</p>
        <p>Date {{currentslot.day}}</p>
        <p>Time {{currentslot.time}}</p>
        <button class="popup-button" mat-raised-button color="primary" (click)="confirmTime(currentslot.id)">Confirm</button>

        <button class="popup-button" mat-raised-button color="warn" (click)="closePopup()">Cancel</button>
    </div>
</div>