.body {
padding:5px;
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  font-size: 15.333px;
}
.card {
  padding: 5px;
}
mat-grid-tile mat-form-field {
  width: 75%;
  margin: 0.75em;
}
.back-arrow {
  width: 20px;
  height: auto;
}

mat-grid-tile {
  height: auto;
}
.title {
  color: #008080;
  font-size: 25px;
  font-family: Lato;
  font-weight: 700;
  word-wrap: break-word;
}
mat-form-field {
  width: 75%;
}
.static-input {
  cursor: default;
}
button {
  width: 25%;
}
.mat-mdc-button-touch-target {
  width: 32px !important;
  height: 32px !important;
}
.approved-status:hover {
  cursor: default;
}
.chip-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
mat-icon {
  margin-right: 5px;
}

/* comment html */
.comment {
  width: 100%;
}
.labelName{
  width: 100%; 
  flex: none;
  display: flex !important;
  
   
}
.labelContent{
  width: 60%; flex: none;
  display: flex !important;
 
}
.lName{
  width:90%;
  align-items: flex-end; 
  display: flex; 
  justify-content: flex-end;
  font-weight: bold;
}
.lContent{
  width:100%;
  align-items: flex-start; 
  display: flex; 
  justify-content: flex-start;
}
.content {
  display: flex;
  justify-content: space-between; 
  align-items: start; 
  width: 100%;
}
.left{
  width: 50%;
}
/* .right{
  width: 50%;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.labelName, .labelContent {
  font-size: calc(1em + 1.333px); 
}
.left-certificate{
  margin-top: 200px;
  background-color: #008080 !important ;
  color: #fff !important;
  margin-right: 25px;
  width: 250px;
  height: auto;
}
.right-certificate{
  margin-top: 200px;
  background-color: #008080 !important;
  color: #fff !important;
  width: 250px;
  height: auto;
} */

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust based on your layout */
}

.box {
  border: 1px solid #A9A9A9; /* Adjust color as needed */
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 20px;
  margin-right: 20px;
}

.text-button {
  background-color: transparent;
  border: none;
  color: inherit; /* Adjust color as needed */
  padding: 5px;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: left;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.text-button:hover {
  background-color: transparent;
  opacity: 0.7; /* Adjust for hover effect */
}
.pdf-icon{
  color: rgb(177, 5, 5);
}
.link{
  text-decoration: none;
  color: #000;
}
.link:hover{
  color: #008080;
}
