<div class="container">
    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav mode="side" opened class="calendar-sidenav">
            <mat-calendar ngSkipHydration [(selected)]="selectedDate"></mat-calendar>

            <p>Selected date: {{formattedDate}}</p>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Start Time</mat-label>
                    <input matInput [ngxTimepicker]="startTimepicker" [placeholder]="'HHmm'" #startTimepickerInput>
                    <ngx-material-timepicker color="primary" #startTimepicker
                        (timeSet)="onStartTimeSet($event)"></ngx-material-timepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>End Time</mat-label>
                    <input matInput [ngxTimepicker]="endTimepicker" [placeholder]="'HHmm'" #endTimepickerInput>
                    <ngx-material-timepicker color="primary" #endTimepicker (timeSet)="onEndTimeSet($event)"></ngx-material-timepicker>
                </mat-form-field>

                <button [disabled]="isAddTimeDisabled" mat-raised-button class="apply-button" (click)="print()"
                    color="primary">Add Slot</button>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <!----Title Header start-->
            <div class="proceed-header">
                <div class="page-title">
                    <div class="back-button">
                        <button mat-icon-button (click)="dummy()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>
                    <div class="page-title-content">
                        <div class="title-with-new-button">
                            <p class="addtitle">Applications : [title]</p>
                            <button mat-button (click)="dummy()" class="edit-button" *ngIf="userType != 'hra'">
                                Edit <mat-icon class="edit" style="margin-left: 5px">edit</mat-icon>
                            </button>
                        </div>
                        <mat-label class="num"> Job Number: job_number </mat-label><br />
                        <mat-label class="field"> field_name </mat-label>
                        <mat-label class="num"> Appointmnet Title: {{appointment.title}}</mat-label><br />
                        <mat-label class="num"> Appointment Duration: {{appointment.duration}} </mat-label>
                        <mat-label class="num"> Special Comments: {{appointment.comment}}</mat-label>

                    </div>
                    <div class="buttons-right">
                        <div class="buttons-right-inside">
                            <button mat-raised-button class="apply-button" (click)="openPopup()"
                                color="primary">Edit Appointment</button>
                        </div>
                        <div class="buttons-right-inside">
                            <button mat-raised-button class="apply-button" (click)="openAllocateopup()"
                                color="primary">Allocate
                                Time</button>
                        </div>

                    </div>
                </div>
            </div>


            <!----Title Header end-->
            <div class="schedule-container">
                <div class="event-list">
                    <mat-card class="event" *ngFor="let record of getRecordsByDay(formattedDate)">
                        <mat-card-content>
                            <div class="event-details">
                                <span class="event-title">{{ formatTime(record.start) }} - {{ formatTime(record.end)
                                    }}</span>
                                <span class="event-time">{{ formatTime(record.end) }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

<div class="modal" [ngClass]="{'show': isPopupVisible}" (click)="closePopup()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closePopup()">&times;</span>
        <h2>Confirm Appointment</h2>
        <p>By confirming, Seekers will be notified to book an interview appointment through the portal, choosing their
            preferred time slot from the available options.</p>
        <p>Interview Duration: {{interViewDuration}} minutes</p>
        <button class="popup-button" mat-raised-button color="primary" (click)="allocateTime()">Confirm</button>

        <button class="popup-button" mat-raised-button color="warn" (click)="closePopup()">Cancel</button>
    </div>
</div>

<div class="modal2" [ngClass]="{'show': isIntroPopupVisible}">
    <!---Request user to enter interval duration--->
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeAppointmentPopup()" *ngIf="isFormFilled">&times;</span>
        <h2>Appointment Details</h2>

        <form [formGroup]="appointmentDetails" class="appointment-form">
            <mat-form-field appearance="fill">
                <mat-label>Appointmnet Title</mat-label>
                <input matInput formControlName="title" [placeholder]="'Add Title'">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Appointment Duration </mat-label>
                <input matInput type="number" formControlName="duration" [placeholder]="'Minutes'">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Special Comments </mat-label>
                <input matInput formControlName="comments" [placeholder]="'Minutes'">
            </mat-form-field>
        </form>
        <button class="popup-button" mat-raised-button (click)="closeAppointmentPopup()" color="primary">Confirm</button>

        <button class="popup-button" mat-raised-button color="warn"
            (click)="closeAppointmentPopup()" *ngIf="isFormFilled">Cancel</button>
    </div>
</div>