<div class="container">
  <h1 class="title">ASP.NET Developer</h1>
  <div class="job-number">Job Number: 2752669</div>
  <div class="interview-time">
    <label for="interview-time">per interview time</label>
    <input id="interview-time" type="text" value="30 min">
    <button mat-raised-button  color="primary">Allocate Time</button>
  </div>
  <h2 class="subtitle">Available Time Slots</h2>
  <button mat-raised-button color="primary"
    >Add Date & Time</button>
  <mat-tab-group>
    <mat-tab *ngFor="let date of getObjectKeys(timeSlots)">
      <ng-template mat-tab-label>
        {{ datePipe.transform(date, 'EEEE, MMM d, y') }}
      </ng-template>
      <div class="time-slots">
        <div *ngFor="let slot of timeSlots[date]; let i = index" class="time-slot">
          <div class="slot-header">{{ slot.day }} {{ datePipe.transform(date, 'MMM d, y') }}</div>
          <div class="slot-time">{{ slot.time }} <span>{{ slot.duration }}</span></div>
          <div class="slot-actions">
            <button mat-icon-button color="primary" >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>