@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #008080;
    --mdc-snackbar-supporting-text-color: #008080;
    --mdc-snackbar-container-color: #ffffff;

    
    &.app-notification-warning {
        --mdc-snackbar-container-color: #f2a541;
    }

    &.app-notification-error {
        --mdc-snackbar-container-color: #f23a2f;
    }

    &.app-notification-success {
        --mdc-snackbar-container-color: #43a446;
    }

    &.app-notification-normal {
        --mdc-snackbar-container-color: #008080;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}