.page-title {
  margin-top: 4em;
  margin-left: 4em;
}

.page-title p {
  color: #008080;
  font-family: Lato;
  font-size: 30px;
}

.pagetitle-content {
  margin-top: 2em;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.emptymsg{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
th.mat-header-cell .nu-header{
  text-align: center !important;
}
.emptymsg div{
  margin: 0 auto;
}
