.page-title {
  margin-top: 4em;
  margin-left: 4em;
}

.page-title p {
  color: #008080;
  font-family: Lato;
  font-size: 30px;
}

.pagetitle-content {
  margin-top: 2em;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.emptymsg {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
th.mat-header-cell .nu-header {
  text-align: center !important;
}
.emptymsg div {
  margin: 0 auto;
}
.adTable,
.emptymsg {
  width: 95%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 0.5em;
}
.material-icons {
  font-size: 22px !important;
}
.registered-status-btn {
  width: 120px;
  color: white;
}
.registered-status-btn:hover {
  cursor: default;
}
.registered-status-btn.registered{
  background-color: #008080;
  color: white;
}
.registered-status-btn.rejected{
  background-color: #b12209;
  color: white;
}
.registered-status-btn.pending{
  background-color: gray;
  color: white;
}

.view-section {
  cursor: pointer;
  display: flex;
  color: #008080;
}
.icon {
  margin-right: 10px;
}
.center-text{
  color:#008080;
  font-family: Lato;
  font-size: xx-large;
}