.adTable{
  width: 95%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.page-title{
  margin-top: 4em;
  margin-left: 4em;
}

.page-title p{
  color: #008080;
  font-family: Lato;
  font-size: 30px;
}

.pagetitle-content{
  margin-top: 2em;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-buttons{
  width: 22.5em;
}

.nu-column{
  width: 5em;
  text-align: center;
}

th.mat-header-cell .nu-header{
  text-align: center !important;
}