.card-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-top: 1em;
    /*background-color: rgba(0, 128, 128);*/
}

.paginator{
    width: 95%;
    margin: 0 auto;
}