<mat-toolbar class="nav-bar mat-elevation-z4">
  <span>
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
    </a>
  </span>
  <span>FirstStep</span>
  <span class="flex-spacer"></span>
  <div class="right-buttons">
    <a
      mat-button
      routerLink="/company-registration-1"
      color="{{ colorList[0] }}"
      >Register your Company</a
    >
    <a mat-button routerLink="/login">Login</a>
  </div>
</mat-toolbar>

<!--body starts here-->
<div class="body"></div>
