.body {
  padding: 3em;
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
}
.card {
  padding: 2em;
}

.form-container {
  margin-top: 2em;
}

mat-grid-tile mat-form-field {
  width: 100%;
  margin: 0.75em;
}
.tile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; 
}

mat-grid-tile {
  height: auto;
}
.title {
  color: #008080;
  font-size: 25px;
  font-family: Lato;
  font-weight: 700;
  word-wrap: break-word;
}
.description-text-editor {
  padding-left: 1em;
  width: calc(100% - 2.2em);
  margin-bottom: 1.2em;
  padding-top: 1em;
}
mat-form-field {
  width: 100%;
}
.right-btn,
.left-btn {
  width: 100%;
}
.left-btn {
  justify-content: flex-start;
}

.button-section,
.right-btn {
  display: block;
}
.button-section {
  display: flex;
  margin-top: 40px;
}
.right-btn {
  justify-content: flex-start;
  width: 50%;
  display: flex;
  padding: 5px;
}
.left-btn {
  justify-content: flex-end;
  width: 50%;
  display: flex;
}
button {
  width: 25%;
}
.apply-changes,
.discard-changes,
.delete-account {
  font-weight: 400;
}
.apply-changes-class {
  background-color: #008080;
  color: #ffffff;
  border-width: 1px;
  border-style: none;
  outline: none;
  border-radius: 5px;
  border-color: #008080;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  margin-right: 10px;
}
/* .apply-changes-class:hover {
  background-color: #ffffff;
  color: #008080;
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-radius: 5px;
  border-color: #008080;
} */

/* .discard-changes-class:hover {
  background-color: #008080;
  color: #ffffff;
  border-width: 1px;
  border-style: none;
  outline: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
} */
button:hover {
  cursor: pointer;
}

/* .delete-account-class:hover {
  background-color: #ffffff;
  color: #d73434;
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-radius: 5px;
  padding: 2px 0;
} */

.container-otp{
  display: flex;
  flex-direction: column;
}
input[type="file"] {
  display: block;
  margin: 10px auto;
}

.imageLoading {
  width: 50px !important;
  margin: 0 auto;
  display: block;
}

input[type="file"] {
  display: none;
}


.custom-file-upload {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color:#008080; 
  margin-left: 10px;
}

.custom-file-upload mat-icon {
  font-size: 24px !important; 
  
}
.edit{
  color:#008080;
}
.apply-button-class{
  background-color: #008080 !important;
  color: #ffffff !important;
  margin-right: 20px;
  width: 170px !important;
}
.delete-account-class{
  background-color: #d73434 !important;
  color: #ffffff !important;
  width: 170px !important;
  
}
.discard-changes-class{
  width: 170px !important;
}
