<app-ca-nav-bar></app-ca-nav-bar>

<!-- <div class="body">
  <app-spinner></app-spinner>
  <div class="bodySection">
    <span class="sectionHeading">{{ company.company_name }}</span>
    <form class="form" [formGroup]="companyForm">
      <div class="top-section">
        <img src="assets/images/BistechLogo.png" class="md-card-image" />
        <div class="image-side-section">
          <mat-form-field
            class="form-field company-name-field"
            appearance="outline"
          >
            <mat-label>Company Name</mat-label>
            <input
              matInput
              #companyName
              placeholder="Enter your Company Name"
              [value]="company.company_name"
              (input)="company.company_name = companyName.value"
              formControlName="company_name"
            /><mat-error
              *ngIf="
                companyForm.get('company_name').invalid &&
                companyForm.get('company_name').touched
              "
            >
              Company Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="bottom-section">
        <div class="sectionTwo" style="width: 100%">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              #companyDescription
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [value]="company.company_description"
              (input)="company.company_description = companyDescription.value"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="details-section-two">
          <div class="staring-section">
            <div class="sectionTwo">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Web Site</mat-label>
                <input
                  matInput
                  #companyWebsite
                  placeholder="Enter your Company website"
                  [value]="company.company_website"
                  (input)="company.company_website = companyWebsite.value"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="ending-section">
            <div class="sectionTwo">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Bussiness Scale</mat-label>
                <mat-select
                  name="bussiness_scale"
                  [value]="company.company_business_scale"
                  #bussiness_scale
                  (input)="
                    company.company_business_scale = bussiness_scale.value
                  "
                >
                  @for(BScale of BusinessScales ; track BScale){
                  <mat-option [value]="BScale.value">{{
                    BScale.name
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="details-section-two">
          <div class="staring-section">
            <div class="sectionTwo">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input
                  matInput
                  #companyPhoneNumber
                  placeholder="Enter your Company phone Number"
                  [value]="company.company_phone_number"
                  (input)="
                    company.company_phone_number =
                      companyPhoneNumber.valueAsNumber
                  "
                />
              </mat-form-field>
            </div>
          </div>
          <div class="ending-section">
            <div class="sectionTwo">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  #email
                  placeholder="Enter your email"
                  [value]="company.company_email"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="button-section">
      <div class="right-btn">
        <button
          style="margin-right: 10px"
          class="apply-changes-class"
          (click)="applyChanges()"
        >
          <span class="apply-changes">Apply Changes</span>
        </button>
        <button class="discard-changes-class" (click)="discardChanges()">
          <span class="discard-changes">Discard Changes</span>
        </button>
      </div>
      <div class="left-btn">
        <button class="delete-account-class" (click)="deleteAccount()">
          <span class="delete-account">Delete Accoount</span>
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="body">
  <app-spinner></app-spinner>
  <mat-card class="card">
    <div class="heading title">
      <span class="sectionHeading">{{ company.company_name }}</span>
    </div>
    <form class="form" [formGroup]="companyForm" #updateCompanyDetailsForm="ngForm" (ngSubmit)="updateCompanyDetails(updateCompanyDetailsForm.value)">
      Top Section 
      <mat-grid-list cols="{{ noOfCols }}" rowHeight="140">
        <mat-grid-tile>
          <img src="assets/images/BistechLogo.png" class="md-card-image" />
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="form-field company-name-field"
            appearance="outline"
          >
            <mat-label>Company Name</mat-label>
            <input
              matInput
              #companyName
              placeholder="Enter your Company Name"
              [value]="company.company_name"
              (input)="company.company_name = companyName.value"
              formControlName="company_name"
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="description-text-editor">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            #companyDescription
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            [value]="company.company_description"
            (input)="company.company_description = companyDescription.value"
          ></textarea>
        </mat-form-field>
      </div>
      <mat-grid-list cols="{{ noOfCols }}" rowHeight="140">
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Web Site</mat-label>
            <input
              matInput
              #companyWebsite
              placeholder="Enter your Company website"
              [value]="company.company_website"
              (input)="company.company_website = companyWebsite.value"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Bussiness Scale</mat-label>
            <mat-select
              name="bussiness_scale"
              [value]="company.company_business_scale"
              #bussiness_scale
              (input)="company.company_business_scale = bussiness_scale.value"
            >
              @for(BScale of BusinessScales ; track BScale){
              <mat-option [value]="BScale.value">{{ BScale.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              #companyPhoneNumber
              placeholder="Enter your Company phone Number"
              [value]="company.company_phone_number"
              (input)="
                company.company_phone_number = companyPhoneNumber.valueAsNumber
              "
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              #email
              placeholder="Enter your email"
              [value]="company.company_email"
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <div class="button-section">
        <div class="right-btn">
          <button
            style="margin-right: 10px"
            class="apply-changes-class"
            (click)="applyChanges()"
          >
            <span class="apply-changes">Apply Changes</span>
          </button>
          <button class="discard-changes-class" (click)="discardChanges()">
            <span class="discard-changes">Discard Changes</span>
          </button>
        </div>
        <div class="left-btn">
          <button class="delete-account-class" (click)="deleteAccount()">
            <span class="delete-account">Delete Accoount</span>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div> -->

<div class="body">
  <app-spinner></app-spinner>
  <mat-card class="card">
    <div class="heading title">
      <span class="sectionHeading">{{ company.company_name }}</span>
    </div>
    <form
      class="form"
      #updateCompanyDetailsForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Top Section -->
      <mat-grid-list cols="{{ noOfCols }}" rowHeight="140">
        <mat-grid-tile>
          <img src="assets/images/BistechLogo.png" class="md-card-image" />
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="form-field company-name-field"
            appearance="outline"
          >
            <mat-label>Company Name</mat-label>
            <input
              matInput
              placeholder="Enter your Company Name"
              name="company_name"
              [(ngModel)]="company.company_name"
              (input)="updateErrorMessage()"
              required
            />
            <mat-error>{{ errorMessage }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="description-text-editor">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            #companyDescription
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            [(ngModel)]="company.company_description"
            name="company_description"
            (input)="updateErrorMessage()"
            required
          ></textarea>
          <mat-error>{{ errorMessage }}</mat-error>
        </mat-form-field>
      </div>
      <mat-grid-list cols="{{ noOfCols }}" rowHeight="140">
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Web Site</mat-label>
            <input
              matInput
              placeholder="Enter your Company website"
              name="company_website"
              [(ngModel)]="company.company_website"
              (input)="updateErrorMessage()"
              required
            />
            <mat-error>{{ errorMessage }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Bussiness Scale</mat-label>
            <mat-select
              name="bussiness_scale"
              [(ngModel)]="company.company_business_scale"
              #bussiness_scale
              (input)="updateErrorMessage()"
              required
            >
              @for(BScale of BusinessScales ; track BScale){
              <mat-option [value]="BScale.value">{{ BScale.name }}</mat-option>
              }
            </mat-select>
            <mat-error>{{ errorMessage }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              #companyPhoneNumber
              placeholder="Enter your Company phone Number"
              name="company_phone_number"
              [(ngModel)]="company.company_phone_number"
              (input)="updateErrorMessage()"
              required
            /><mat-error>{{ errorMessage }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              #email
              placeholder="Enter your email"
              name="company_email"
              [(ngModel)]="company.company_email"
              (input)="updateErrorMessage()"
              required
            />
            <mat-error>{{ errorMessage }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <div class="button-section">
        <div class="right-btn">
          <button
            style="margin-right: 10px"
            class="apply-changes-class"
            type="submit"
          >
            <span class="apply-changes" (click)="updateErrorMessage()"
              >Apply Changes</span
            >
          </button>
          <button class="discard-changes-class" (click)="discardChanges()">
            <span class="discard-changes">Discard Changes</span>
          </button>
        </div>
        <div class="left-btn">
          <button class="delete-account-class" (click)="deleteAccount()">
            <span class="delete-account">Delete Accoount</span>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
