.search-card{
    width: 82%;
    height: 8em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-element{
    width: 20em;
    padding-left: 1em;
    height: 1em;
}

.title{
    width: 40%;
    margin-left: 1em;
    margin-right: 1.5em;
}

.location{
    margin-right: 0.5em;
}

.searchBtn{
    margin-left: 0.5em;
    width: 4em;
    height: 4em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.allFiltersBtn{
    margin-right: 1em;
    width: 4em;
    height: 4em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}