<mat-card class="search-card mat-elevation-4z">
    <form class="container" #searchJobForm="ngForm" (ngSubmit)="search(searchJobForm.value)">
        <mat-form-field appearance="outline" class="search-element title">
            <mat-label>Job Title</mat-label>
            <mat-icon matPrefix color="primary">work</mat-icon>
            <input matInput placeholder="What do you looking for..." name="title" ngModel>
        </mat-form-field>

        <mat-form-field appearance="outline" class="search-element location">
            <mat-label>Country</mat-label>
            <mat-icon matPrefix color="primary">location_one</mat-icon>
            <input type="text"
                placeholder="Pick a Country"
                aria-label="Country"
                matInput #countryInput
                [formControl]="locationCountryControl"
                [matAutocomplete]="autocountry" (change)="validateSelectedCountry(countryInput.value)">
            <mat-autocomplete autoActiveFirstOption #autocountry="matAutocomplete" (optionSelected)="onSelectedCountryChanged($event.option.viewValue)">
            @for (option of locationCountryFilteredOptions | async; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
            }
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-element location">
            <mat-label>City</mat-label>
            <mat-icon matPrefix color="primary">location_city</mat-icon>
            <input type="text"
                placeholder="Pick a City"
                aria-label="City"
                matInput
                [formControl]="locationCityControl"
                [matAutocomplete]="autocity">
            <mat-autocomplete autoActiveFirstOption #autocity="matAutocomplete">
            @for (option of locationCityFilteredOptions | async; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
            }
            </mat-autocomplete>
        </mat-form-field>
    
        <div class="searchBtn">
            <button mat-icon-button type="submit" color="primary">
                <mat-icon>search</mat-icon>
            </button> 
        </div>
    </form>

    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z1">
            <mat-expansion-panel-header>
                <mat-panel-title>All Filters</mat-panel-title>
                <!--
                <mat-panel-description>
                    <mat-chip-set>
                        <mat-chip *ngFor="let filter of filters">{{filter}}</mat-chip>
                    </mat-chip-set>
                </mat-panel-description>
                -->
            </mat-expansion-panel-header>
            
            <mat-grid-list cols="2" rowHeight="5:1">
                <mat-grid-tile>
                        <mat-chip-set>
                            <mat-chip-listbox name="employeement_type" aria-label="employeement_type" multiple>
                                @for (emptype of empTypes; track emptype) {
                                    <mat-chip-option color="accent" [value]="emptype">{{emptype}}</mat-chip-option>
                                }
                            </mat-chip-listbox>
                        </mat-chip-set>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-button-toggle-group name="arrangement" aria-label="arrangement" multiple>
                            @for (arrangement of jobArrangement; track arrangement) {
                                <mat-button-toggle [value]="arrangement">{{arrangement}}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<app-spinner></app-spinner>