<mat-card class="search-card mat-elevation-4z">
    <form #searchJobForm="ngForm" (ngSubmit)="search(searchJobForm.value)">
        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0" [expanded]="isExpand" [hideToggle]="isExpand">
                <mat-expansion-panel-header *ngIf="!isExpand">
                    <mat-panel-title>Search Jobs</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <mat-form-field appearance="outline" class="search-element title">
                        <mat-label>Job Title</mat-label>
                        <mat-icon matPrefix color="primary">
                            <i class="fa-solid fa-person-walking"></i>
                        </mat-icon>
                        <input matInput placeholder="What do you looking for..." name="title" ngModel>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="search-element location">
                        <mat-label>Country</mat-label>
                        <mat-icon matPrefix color="primary">
                            <i class="fa-solid fa-earth-americas"></i>
                        </mat-icon>
                        <input type="text"
                            placeholder="Pick a Country"
                            aria-label="Country"
                            matInput #countryInput
                            [formControl]="locationCountryControl"
                            [matAutocomplete]="autocountry">
                        <mat-autocomplete autoActiveFirstOption #autocountry="matAutocomplete" (optionSelected)="onSelectedCountryChanged($event.option.viewValue)">
                        @for (option of locationCountryFilteredOptions | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                        }
                        </mat-autocomplete>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" class="search-element location">
                        <mat-label>City</mat-label>
                        <mat-icon matPrefix color="primary">
                            <i class="fa-solid fa-location-dot"></i>
                        </mat-icon>
                        <input type="text"
                            placeholder="Pick a City"
                            aria-label="City"
                            matInput
                            [formControl]="locationCityControl"
                            [matAutocomplete]="autocity">
                        <mat-autocomplete autoActiveFirstOption #autocity="matAutocomplete">
                        @for (option of locationCityFilteredOptions | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                        }
                        </mat-autocomplete>
                    </mat-form-field>
                
                    <div class="searchBtn">
                        <button mat-icon-button type="submit" color="primary">
                            <mat-icon>search</mat-icon>
                        </button> 
                    </div>

                    <div class="res"></div>
                </div>
            </mat-expansion-panel> 
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Advanced Filters</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="advance-search-section">
                    <div class="advance-search-field" style="width: 55%;">
                        <span class="advance-search-title">
                            <mat-icon>
                                <i class="fa-solid fa-calendar-days"></i>
                            </mat-icon>
                            <p class="advance-search-field-name">Employeement Type</p>
                        </span>
                        <mat-chip-listbox name="employeement_type" aria-label="employeement_type" ngModel multiple>
                            @for (emptype of empTypes; track emptype) {
                                <mat-chip-option color="accent" [value]="emptype">{{emptype}}</mat-chip-option>
                            }
                        </mat-chip-listbox>
                    </div>
        
                    <div class="advance-search-field" style="width: 25%;">
                        <span class="advance-search-title">
                            <mat-icon>
                                <i class="fa-solid fa-briefcase"></i>
                            </mat-icon>
                            <p class="advance-search-field-name">Job Arrangement</p>
                        </span>
                        <mat-chip-listbox name="arrangement" aria-label="arrangement" ngModel multiple>
                            @for (arrangement of jobArrangement; track arrangement) {
                                <mat-chip-option color="accent" [value]="arrangement">{{arrangement}}</mat-chip-option>
                            }
                        </mat-chip-listbox>
                    </div>
        
                    <div class="advance-search-field" style="width: 20%;">
                        <span class="advance-search-title">
                            <mat-icon>
                                <i class="fa-solid fa-map-location"></i>
                            </mat-icon>
                            <p class="advance-search-field-name">Travel From {{locationCityControl.value?.trim() == "" ? 'City' : locationCityControl.value }}</p>
                        </span>
                        <span class="distance-content">
                            <mat-slider
                                max="110"
                                min="0"
                                step="10"
                                showTickMarks
                                discrete
                                [displayWith]="distanceStepper">
                                <input matSliderThumb [(ngModel)]="distance" name="distance" #slider>
                            </mat-slider>
                            <h2>{{distanceStepper(distance)}}</h2>
                        </span>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="searchBtn-mobile">
            <button mat-button type="submit" color="primary">
                <mat-icon>search</mat-icon> Search Jobs
            </button> 
        </div>
    </form>
</mat-card>

<div class="filter-job-button" *ngIf="!isSearch">
    <button mat-button [matMenuTriggerFor]="menu">Suggest {{jobSuggesion}}</button>

    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item color="primary" (click)="changeSuggestion(true)">
          <span>
            <div class="suggestion">Jobs Near to Me</div>
            <div class="suggestion-des">Based on your current location</div>
          </span>
          <mat-icon matPrefix color="primary">
            <i class="fa-solid fa-location-dot"></i>
            </mat-icon>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item color="primary" (click)="changeSuggestion(false)">
            <span class="menu-container">
              <div class="suggestion">Jobs More Relevant to Me</div>
              <div class="suggestion-des">Based on location in your profile</div>
            </span>
            <mat-icon matPrefix color="primary">
                <i class="fa-solid fa-chart-line"></i>
            </mat-icon>
          </button>
      </mat-menu>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
  <p style="font-size: 20px; color: white" *ngIf="suggesting">Finding Best Jobs for You...</p>
  <p style="font-size: 20px; color: white" *ngIf="searching">Searching for jobs...</p>
  <p style="font-size: 20px; color: white" *ngIf="!suggesting && !searching">Loading...</p>
</ngx-spinner>