.search-card{
    width: 82%;
    height: 8em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
.search-card:not([class*=mat-elevation-z]) {
    box-shadow: 
        0 2px 1px -1px rgba(0, 0, 0, 1),
        0 0.5px 0.5px 0 rgba(0, 0, 0, 1),
        0 0.5px 3.5px 0 rgba(0, 0, 0, 1)
    ;
}*/


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-element{
    width: 20em;
    padding-left: 1em;
    height: 1em;
}

.title{
    width: 30em;
}

.searchBtn{
    margin-left: 1em;
    margin-right: 1em;
    width: 4em;
    height: 4em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}