.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeker {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  background: #fff;

}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-width {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  margin-top: 20px; /* Add space between buttons and top form fields */
}

.custom-stepper-button {
  padding: 10px 20px;
  border: 2px solid #008080; /* Add border for Back button */
  color: #008080 !important; /* Set text color */
  background-color: transparent; /* Transparent background */
}

.custom-stepper1-button {
  padding: 10px 20px;
  background-color: #008080;
  color: white !important;
}

.skill-part {
  width: 100%;
  margin: 20px 0;
}

.skillchip {
  width: 100%;
  display: grid;
  align-items: center;
}

.cvupload {
  width: 100%;
  display: grid;
  margin-bottom: 10px;
}

.otp-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.otp-field-container .fixed-width {
  width: calc(70% - 10px);
}

.otp-field-container button {
  width: calc(30% - 10px);
}

/* New class for combined width */
.combined-width {
  width: calc(100% - 10px);
}


/* Media Queries */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  .seeker {
    width: 100%;
    max-width: none;
  }
}

.label-import {
  color: #008080;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

::ng-deep .mat-horizontal-stepper-header {
  margin-bottom: 20px; /* Adjust this value to increase the gap */
}

::ng-deep .mat-step-label {
  padding: 0 16px; /* Adjust this value for more horizontal padding if needed */
}

::ng-deep .mat-step-header {
  display: flex;
  justify-content: center; /* Center the labels horizontally */
}

::ng-deep .mat-step-icon {
  margin-right: 8px; /* Adjust this value to increase spacing between step icons and labels */
}

/* Adjust this value to control the gap between the step icons and the content container */
.mat-stepper-horizontal, .mat-horizontal-stepper-header-container {
  margin-bottom: 40px; /* Adjust this value to increase the gap */
}
