.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-popup {
  justify-content: center;
  align-items: center;
  border: 3px black;
  border-radius: 25px;
  background: #fff;
}

.up-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
  padding: 10px;
  align-items: center;
  text-align: center;
}

img {
  display: inline-block;
}

.right {
  flex: 1;
  padding: 10px;
  align-items: right;
}

.seeker {
  text-align: center;
  width: 30vw;
  height: auto;
  padding-bottom: 50px;

  /* padding: 60px 100px 30px 100px; */
}

h2 {
  font-size: 30px;
  font-weight: 550;
  text-align: center;
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 550;
  font-family: "roboto";
  padding: 20px 40px 20px 25px;
  line-height: 1.5;
}

.label-import {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  color: #7a7a7a;
}

p {
  text-align: center;
  font-size: 17px;
  margin: 2vw;
}
.form-container {
  border: 3px black;
  border-radius: 25px;
  background: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);
  padding: 25px 25px 25px 25px;
  height: 30vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 500px;
    height: 525px; */
}

.mat-mdc-form-field {
  margin-top: 16px;
  display: grid;
  width: 20vw;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 0;
}

/* Adjusting the distance between steps */
.mat-horizontal-stepper .mat-step-header {
  margin-right: 20px; /* Increase or decrease this value to adjust the distance */
}

.custom-stepper-button {
  background-color: white;
  color: #008080;
  border: 3px solid #008080;
}
.custom-stepper1-button {
  background-color: #008080;
  color: white;
}

.mat-button {
  padding-left: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Positions elements at opposite ends */
  width: 100%; /* Ensures full-width for the container */
  gap: 10px;
}

.custom-stepper-button,
.custom-stepper1-button {
  padding: 10px 20px; /* Padding to add space within the button */
  margin-right: 10px; /* Adds margin on the right of each button */
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  height: 4em;
  background-color: white;
  position: absolute;
  z-index: 2;
  margin-top: 0;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}

.logo {
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.5em;
}

.flex-spacer {
  flex: 1 1 auto;
}

.profile-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 5px;
}

.skill-part{
  margin: 2vw;
  
}

.skillchip {
  width: 20vw;
  display: grid;
  align-items: center;
}

.cvupload {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}
