<mat-toolbar class="nav-bar mat-elevation-z4">
  <span>
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
    </a>
  </span>
</mat-toolbar>

<div class="page">
  <!-- Adding a stepper -->
  <mat-stepper labelPosition="bottom" #stepper color="primary">
    <!-- Step 1: Personal Information -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <div class="form-popup" id="myForm">
          <div class="up-container">
            <div class="left">
              <img
                src="/assets/images/signup1.png"
                alt="Seeker"
                class="seeker"
              />
              <h2>Find Your Future With FirstStep</h2>
            </div>
            <div class="right">
              <div class="form-container">
                <mat-label class="heading"
                  >Create Your FirstStep Account</mat-label
                >
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    placeholder="Enter First name"
                    formControlName="first_name"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    placeholder="Enter Last name"
                    formControlName="last_name"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Contact Number</mat-label>
                  <input
                    matInput
                    placeholder="Enter contact Number"
                    formControlName="phone_number"
                    required
                  />
                </mat-form-field>
                <div>
                  <button
                    mat-button
                    matStepperNext
                    class="custom-stepper1-button"
                    style="color: white; margin-left: 20px"
                  >
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Email Verification -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <div class="form-popup" id="myForm">
          <div class="up-container">
            <div class="left">
              <img
                src="/assets/images/signup2.png"
                alt="Seeker"
                class="seeker"
              />
              <h2>Easily Find the Career Path Meant For You</h2>
            </div>
            <div class="right">
              <div class="form-container">
                <mat-label class="heading">Let's verify your Email</mat-label>
                <p>
                  Verify your email. Please check your email and enter the
                  confirmation code.
                </p>
                <mat-form-field>
                  <mat-label>Email Address</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    placeholder="example@gmail.com"
                    required
                  />
                </mat-form-field>
                <button
                  mat-button
                  class="custom-stepper1-button"
                  style="background-color: #595959; color: white"
                >
                  Resend OTP
                </button>
                <mat-form-field>
                  <mat-label>OTP</mat-label>
                  <input
                    matInput
                    placeholder="Enter OTP for verification"
                    required
                  />
                </mat-form-field>
                <div>
                  <button
                    mat-button
                    matStepperPrevious
                    class="custom-stepper-button"
                    style="color: #008080; align-items: left"
                  >
                    Back
                  </button>
                  <button
                    mat-button
                    matStepperNext
                    class="custom-stepper1-button"
                    style="color: white"
                  >
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: Educational and Professional Background -->
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <div class="form-popup" id="myForm">
          <div class="up-container">
            <div class="left">
              <img
                src="/assets/images/signup3.png"
                alt="Seeker"
                class="seeker"
              />
              <h2>Meet Top Companies in Sri Lanka</h2>
            </div>
            <div class="right">
              <div class="form-container">
                <mat-label class="heading"
                  >Can we know your educational background ?</mat-label
                >
                <mat-form-field>
                  <mat-label>University</mat-label>
                  <input
                    matInput
                    placeholder="Enter University"
                    formControlName="university"
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>LinkedIn Profile</mat-label>
                  <input
                    matInput
                    placeholder="Enter LinkedIn Profile URL"
                    formControlName="linkedin"
                  />
                </mat-form-field>
                <mat-label style="font-size: 15px; font-weight: 500"
                  >CV/Resume</mat-label
                >
                <!-- <div class="cvupload">
                  <app-file-upload></app-file-upload>
                </div> -->
                <div>
                  <button
                    mat-button
                    matStepperPrevious
                    class="custom-stepper-button"
                    style="color: #008080"
                  >
                    Back
                  </button>
                  <button
                    mat-button
                    matStepperNext
                    class="custom-stepper1-button"
                    style="color: white"
                  >
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 4: Field of Work and Skills -->
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <div class="form-popup" id="myForm">
          <div class="up-container">
            <div class="left">
              <img
                src="/assets/images/signup4.png"
                alt="Seeker"
                class="seeker"
              />
              <h2>Start Climbing the Corporate Ladder with Us</h2>
            </div>
            <div class="right">
              <div class="form-container">
                <mat-label class="heading">
                  Can we know your professional background ?
                </mat-label>
                <mat-form-field>
                  <mat-label>Field of Work</mat-label>
                  <input matInput placeholder="Enter Field of Work" />
                </mat-form-field>
                <div class="skill-part">
                  <mat-label class="label-import">Add Your Skills</mat-label>
                  <!-- <div class="skillchip">
                    <app-add-skills></app-add-skills>
                  </div> -->
                </div>
                <div>
                  <button
                    mat-button
                    matStepperPrevious
                    class="custom-stepper-button"
                    style="color: #008080"
                  >
                    Back
                  </button>
                  <button
                    mat-button
                    matStepperNext
                    class="custom-stepper1-button"
                    style="color: white"
                  >
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 5: Bio, Description, and Profile Picture -->
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <div class="form-popup" id="myForm">
          <div class="up-container" style="padding-left: 10px">
            <div class="left">
              <img
                src="/assets/images/signup5.png"
                alt="Seeker"
                class="seeker"
              />
              <h2>Let's Get Started!</h2>
            </div>
            <div class="right">
              <div class="form-container">
                <mat-label class="heading"
                  >Let's enter details for your profile</mat-label
                >
                <mat-label class="label-import">Profile Picture</mat-label>
                <!-- <div class="left">
                  <img [src]="url" style="height: 100px; width: auto" /><br />
                  <input type="file" (change)="onselectFile($event)" />
                </div> -->
                <mat-form-field>
                  <mat-label>Bio</mat-label>
                  <input
                    matInput
                    placeholder="Enter Bio"
                    formControlName="bio"
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <input
                    matInput
                    placeholder="Enter Description"
                    formControlName="description"
                  />
                </mat-form-field>
                <div>
                  <button
                    mat-button
                    matStepperPrevious
                    class="custom-stepper-button"
                    style="color: #008080"
                  >
                    Back
                  </button>
                  <button
                    mat-button
                    matStepperNext
                    class="custom-stepper1-button"
                    style="color: white"
                    (click)="submitForm()"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
