<header>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
  />
</header>
<body>
  <app-nav-bar></app-nav-bar>
  <div class="body">
    <mat-card class="body-card">
      <mat-card-content>
        <span class="heading">Create Compnay Admin Account</span>

        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your first anme" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter your last name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matput
            placeholder="Enter your email"
            [formControl]="email"
            required
          />
          @if (email.invalid) {
          <mat-error>{{ getErrorMessage() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confrim Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-button class="create-button">
          <span class="create-btn-name">Create</span>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</body>
