<header>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
  />
</header>
<body>
  <app-nav-bar></app-nav-bar>
  <div class="body">
    <mat-card class="body-card">
      <mat-card-content>
        <span class="heading">Create Compnay Admin Account</span>

        <span class="forgot-password"
          >Forgot your password?
          <a href="forgotPassword" class="reset">Reset</a></span
        >
        <button mat-button class="login">
          <span class="Login-btn-name">Login</span>
        </button>

        <span class="SignUp"
          >New here? <a href="forgotPassword" class="signUp">signUp</a></span
        >
      </mat-card-content>
    </mat-card>
  </div>
</body>
