
.body {
  padding: 3em;
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

mat-card {
  width: 80%;
}
mat-grid-tile mat-form-field {
  width: 75%;
  margin: 0.75em;
}
mat-grid-tile {
  height: auto;
}

.title {
  color: #008080;
  font-size: 25px;
  font-family: Lato;
  font-weight: 700;
  word-wrap: break-word;
}

button {
  width: 25%;
}
.create-btn-name {
  color: #fff;
}

