<div class="body">
  <mat-card class="card">

    <mat-grid-list cols="1" rowHeight="200">
      <mat-grid-tile>
        <span class="heading title">Create Compnay Admin Account</span>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider />

    <mat-grid-list cols="1" rowHeight="100">
      <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first name" name="firstName" ngModel required />
            <mat-error>{{errorMessageForFName}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last name" name="lastName" ngModel required />
            <mat-error>{{errorMessageForLName}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter your email address" name="email" ngModel required />
            <mat-error>{{errorMessageForEmail}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" name="password" [type]="hide ? 'password' : 'text'"
              ngModel required />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error>{{errorMessageForPassword}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Confrim Password</mat-label>
            <input matInput placeholder="Re-enter your password" [type]="hide ? 'password' : 'text'"
              name="confirmPassword" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error>{{errorMessageForConfirmedPassword}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button class="apply-button" color="primary" type="submit">
            <span class="create-btn-name">Create</span>
          </button>
        </mat-grid-tile>
        <mat-divider />
      </form>
    </mat-grid-list>

  </mat-card>
</div>