<div *ngIf="seekerDetails" class="wrapper">
  <mat-card class="body">
    <div class="upper-section">
      <button mat-icon-button (click)="onBackButtonClick()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    
      <img [src]="seekerDetails.profile_picture" alt="Profile Picture" class="profileimage">    
      <div class="info">
        <div style="display: flex; align-items: center">
          <label class="name">{{ seekerDetails.first_name }} {{ seekerDetails.last_name }}</label>
        </div>
        <label class="bio">{{ seekerDetails.bio }}</label>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="info-container">
      <div class="personalInfo">
        <div>
          <mat-label class="head">First Name</mat-label>
          <span>{{ seekerDetails.first_name }}</span>
        </div>
        <div>
          <mat-label class="head">Last Name</mat-label>
          <span>{{ seekerDetails.last_name }}</span>
        </div>
        <div>
          <mat-label class="head">Phone Number</mat-label>
          <span>{{ seekerDetails.phone_number }}</span>
        </div>
        <div>
          <mat-label class="head">Email Address</mat-label>
          <span>{{ seekerDetails.email }}</span>
        </div>
        <div>
          <mat-label class="head">Field of Work</mat-label>
          <span>{{ seekerDetails.field_name }}</span>
        </div>
        <div>
          <mat-label class="head">LinkedIn</mat-label>
          <span>{{ seekerDetails.linkedin }}</span>
        </div>
        <div>
          <mat-label class="head">University</mat-label>
          <span>{{ seekerDetails.university }}</span>
        </div>
        <div>
          <mat-label class="head">Description</mat-label>
          <span>{{ seekerDetails.description }}</span>
        </div>
        <div>
          <mat-label class="head">Skills</mat-label>
          <span>{{ seekerDetails.seekerSkills }}</span>

        </div>
      </div>
      <div class="button-container">
        <div class="buttons">
          <button mat-button class="Open" style="color: white;" (click)="openpdf()">Open CV</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<app-spinner></app-spinner>