
<div class="body">
  <div class="upper-section">
    <button mat-button>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  
    <img src="assets/images/dp.png" alt="Profile Picture" class="profileimage">    
    <div class="info">
      <h3>{{ seekerDetails.first_name }} {{ seekerDetails.last_name }}</h3>      
      <label>{{ seekerDetails.bio }}</label>
    </div>
  </div>
  
  <div class="personalInfo">
    <div>
      <mat-label class="head">First Name</mat-label>
      <span>{{ seekerDetails.first_name }}</span>
    </div>
  
    <div>
      <mat-label class="head">Last Name</mat-label>
      <span>{{ seekerDetails.last_name }}</span>
    </div>
  
    <div>
      <mat-label class="head">Phone Number</mat-label>
      <span>{{ seekerDetails.phone_number }}</span>
    </div>
  
    <div>
      <mat-label class="head">LinkedIn</mat-label>
      <span>{{ seekerDetails.linkedin }}</span>
    </div>
  
    <div>
      <mat-label class="head">Field of Work</mat-label>
      <span>{{ seekerDetails.field_name }}</span>
    </div>
  
    <div>
      <mat-label class="head">University</mat-label>
      <span>{{ seekerDetails.university }}</span>
    </div>
  
    <div>
      <mat-label class="head">Email Address</mat-label>
      <span>{{ seekerDetails.email }}</span>
    </div>
  
    <div>
      <mat-label class="head">Description</mat-label>
      <span>{{ seekerDetails.description }}</span>
    </div>
  </div>
  
</div>