<p>seeker-edit-profile works!</p>
<section class="navbar">
</section>
<h1>Edit Profile</h1>
<div class="form-popup" id="myForm">
    <form class="form-container">      

        <div class="up-container">
          <div class="left">
            <img [src] ="url" height="200px"><br>
            <input type="file" (change)="onselectFile($event)">
          </div>
    
          <div class="right">
    
            <mat-form-field class="elem" appearance="outline" >
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Enter First Name"/>
            </mat-form-field>
      
            <mat-form-field class="elem" appearance="outline" >
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Enter Last Name" />
            </mat-form-field>
      
            <mat-form-field class="elem" appearance="outline">
              <mat-label>Bio</mat-label>
              <input matInput placeholder="Enter Last Name" />
            </mat-form-field> 
    
          </div>
        </div>
        <br>
        <br>
    
        
        <div class="sidebyside">
    
          <mat-form-field class="elem" appearance="outline">
            <mat-label id="des">Description</mat-label>
            <input matInput placeholder="Description" />
          </mat-form-field>
    
          <mat-form-field class="elem" appearance="outline">
            <mat-label>LinkedIn URL</mat-label>
            <input matInput placeholder="Enter LinkedIn" />
          </mat-form-field>
    
          <mat-form-field class="elem" appearance="outline">
            <mat-label>Field of Work</mat-label>
            <input matInput placeholder="Enter Field of Work" />
          </mat-form-field>
        
    
          <mat-form-field class="elem" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter Phone Number" />
          </mat-form-field>
    
          <mat-form-field class="elem" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter Email" />
          </mat-form-field>
    
          <mat-form-field class="elem" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter new Password" />
          </mat-form-field>
    
        </div>

        <br><br>
    
        <div class="button-container">
          <button mat-raised-button color="primary">Upload New</button>
          <button mat-raised-button id="discard">View</button>
        </div>


        <br><br>
    
        
        <!-- <form>
          <mat-form-field class="example-chip-list">
            <mat-label>Favorite Fruits</mat-label>
            <mat-chip-grid #chipGrid aria-label="Fruit selection">
              @for (fruit of fruits; track fruit) {
                <mat-chip-row (removed)="remove(fruit)">
                  {{fruit}}
                  <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
            <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
              [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              @for (fruit of filteredFruits | async; track fruit) {
                <mat-option [value]="fruit">{{fruit}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form> 
         -->
    
      <mat-divider></mat-divider>
      <br><br>
      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary">Update Profile</button>
          <button mat-raised-button id="discard">Discard Changes</button>
          <button mat-raised-button color="warn" id="delete">Delete Profile</button>
          
          <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
        </div>
      </section>
      
    
      
      </form>

</div>
