h1 {
    padding-top: 30px;
    padding-left: 220px;
    font-weight: 550;
    font-size: 30px;
    font-family: 'roboto';

  }  
  
  
  .form-popup {
    
      width: 1000px;
      height: 800px;
      border: 3px black;
      border-radius: 25px;
      background: #fff;  
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
      padding: 25px 25px 25px 25px;
      margin-left: 200px;
  
  }
    .form-container mat-form-field {
      width: 400px;
      height: 60px;
      padding-bottom: 5px;
      
    }
    .sidebyside mat-form-field {
        width: 400px;
        height: 60px;
        margin: 0px 40px 0px 10px;
      }
  
    .custom-mat-form-field .mat-form-field-wrapper {
      height: 10px; /* Adjust the height as per your requirement */
    }
    
    .custom-mat-form-field .mat-form-field-flex {
      height: 100%;
    }
  
    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 100px !important;
    }
    /* ::ng-deep .mat-mdc-form-field-flex {
      margin-top: -5px !important;
    }
     */
    ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-form-floating-label {
      top: 0px !important;
      font-size: 12px;
    }
  
    .form-container sidebyside {
      display: flex;
      flex-direction: column;
      align-items: Center;
      justify-content: space-between;
    }
  
    .flex-item {
      flex: 2;
    }
  
    .up-container{
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
    }
  
    .up-container .left {
      flex: 1;
      padding: 10px;
      align-items: center;
      
    }
    .right{
      flex: 1;
      padding: 10px;
      align-items: right;
    }
  
    .form-container{
      margin: 50px 50px 50px 50px ;
    }
  
    #des{
      width: 800px;
      height: 200px;
  
    }  
  
  
    .form-container skill {
      width: auto;
      height: auto;
      border: 3px black;
      border-radius: 25px;
      background: #fff;  
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  
    
    }
  
    
  
    .example-chip-list {
      width: 100%;
    }
  
  
    /* buttons */
    section {
      display: flex;
      width: fit-content;
    }
    
    .example-label {
      display: table-cell;
      font-size: 14px;
      margin-left: 28px;
      min-width: 120px;
    }
    
    .example-button-row {
      display: flex;
      max-width: 600px;
      text-align: center;
      align-items: center;
    }
    
  
    .example-button-row .mat-mdc-button-base {
      margin: 0px 8px 8px 0;
    }
    
    .example-flex-container {
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
    }
    
    .example-button-container {
      display: flex;
      justify-content:space-between;
      width: 120px;
    }
  
    #discard {
      --mdc-protected-button-label-text-color: #008080;
      margin-left: 5px;
      margin-right: 10px;
  
    }
  
    
    .mat-mdc-raised-button.mat-primary {
      --mdc-protected-button-container-color: #008080;
    } 
    
    .example-chip-list {
      width: 100%;
    }
    
    
  
    
  
    
    
  
  