<div *ngIf="averageTimes && companyName" class="average-time-card">
    <div class="average-time-item" matTooltip="Average time taken to screen an application for the first time">
      <span class="title">Average Response Time</span>
      <span class="time">{{ averageTimes.avgResponseTime | number:'1.0-0' }} days</span>
    </div>
    <div class="average-time-item" matTooltip="Average time taken to complete screening the application and arrive at a decision">
      <span class="title">Average Evaluation Time</span>
      <span class="time">{{ averageTimes.avgScreeningTime | number:'1.0-0' }} days</span>
    </div>
    <div class="average-time-item" matTooltip="Average time taken to complete the evaluation process of a job seeker">
      <span class="title">Average Completion Time</span>
      <span class="time">{{ averageTimes.avgCompletionTime | number:'1.0-0' }} days</span>
    </div>
  </div>