<div class="job-heading">
    <div class="job-heading-post-outer">
        <div class="job-post-heading-inner">
            <button class='back-button' title='Go back' (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="job-post-heading-inner">
            <!--
            <img class="company-logo" src="assets/bistec-logo.jpg" alt="Company Logo">
            -->
        </div>
        <div class="job-post-heading-inner">
            <h1 class="job-title">{{job_title}}</h1>
            <p class="company-name">{{company_name}}</p>
            <p class="job-field">{{job_field}}</p>
        </div>    
        
    </div>
</div>
