.job-heading{
    width: 100%;
    padding-bottom: 0.75em;
}

.job-heading-post-outer {
    display: flex;
    width: 100%;
}

.job-post-heading-inner{
    display: flex;
    flex-direction: column;
}

.job-title {
    color: black; 
    font-size: 33px; 
    font-family: Lato; 
    font-weight: 700;
    word-wrap: break-word;
}
  
.company-name {
    color: #008080; 
    font-size: 20px; 
    font-family: Lato; 
    font-weight: 700; 
    word-wrap: break-word;
}
  
.job-field {
    color: black; 
    font-family: Lato;
    margin-top: 0.5em;
    margin-left: 1.5em;
}

.company-logo{
    width: 80px; 
    height: 80px;
    padding: 0em 1.5em;
}

@media screen and (max-width: 768px) {
    .company-logo{
        width: 50px; 
        height: 50px;
        padding: 0em 1.5em;
    }

    .company-name {
        font-size: 17px; 
        margin-bottom: 0.3em;
        word-wrap: normal;
    }

    .job-title {
        font-size: 23px; 
        margin-bottom: 0.3em;
        word-wrap: normal;
    }

    .job-field {
        font-size: 17px; 
        margin-top: 0.1em;
        margin-left: 1.5em;
        margin-bottom: 0.3em;
    }
}