<div class="content-other">
    <app-advertisement-header></app-advertisement-header>
    <hr>

    <div class="detail">
        <div class="detail-outer">
            <div class="detail-inner">
                <div class="detail-head-left">Job Number</div>
                <div class="detail-data">2325846</div>
            </div>
            <div class="detail-inner">
                <div class="detail-head-left">Date Posted</div>
                <div class="detail-data">NOV 23, 2023</div>
            </div>
            <div class="detail-inner">
                <div class="detail-head-left">Location</div>
                <div class="detail-data">Katubadda, Moratuwa</div>
            </div>
            <div class="detail-inner">
                <div class="detail-head-left">Salary</div>
                <div class="detail-data">LKR 125,000</div>
            </div>
        </div>

        <div class="detail-outer-left">
            <div class="detail-inner">
                <div class="detail-head">Employment Type</div>
                <div class="detail-data">Full Time</div>
            </div>
            <div class="detail-inner">
                <div class="detail-head">Arrangement</div>
                <div class="detail-data">Remote</div>
            </div>
            <div class="detail-inner">
                <div class="detail-head">Experience Level</div>
                <div class="detail-data">Not Required</div>
            </div>
            <div class="detail-inner">
                <div class="detail-head">Deadline</div>
                <div class="detail-data">DEC 31, 2023</div>
            </div>
        </div>
    </div>
    <hr>

    <div class="section">
        <div class="heading">Overview</div>
        <div class="content">
            Microsoft Azure Edge + Platform (E+P) is a globally distributed team of engineers, architects, program managers, product managers, business program managers, business administrators, user experience researchers and designers who are responsible for the platform for Microsoft and for delivering Microsoft’s edge vision. We create the most reliable and trustworthy OS (operating system) and platform services to empower Microsoft and our customers to achieve more. We unlock the next wave of opportunity at the edge through an at-scale ecosystem driving widespread adoption of our Microsoft cloud services.
            <br/> The Cloud Security team within Azure Edge and Platform’s Enterprise and Security organization is responsible for making the operating systems used in Microsoft PCs (Personal Computers), devices and the Azure cloud trustworthy. We produce cutting edge data protection, hardening and cryptography features such as BitLocker, KeyGuard and HVCI (Hypervisor-Protected Code Integrity). These tools equip device owners, manufacturers, and service operators to define how devices are used, even in the presence of hostile software and attackers. Cloud Security safeguards user secrets, giving confidence that even sophisticated modern threats cannot access data outside where and to whom they are intended.
        </div>
    </div>

    <div class="section">
        <div class="heading">Your Qualifications</div>
        <div class="content">
            Bachelor's Degree in Computer Science or related technical field AND 4+ years technical engineering experience with coding in languages including, but not limited to, C or C++
            OR Master's Degree in Computer Science or related technical field AND 2+ years technical engineering experience with coding in languages including, but not limited to, C or C++
            OR equivalent experience.
        </div>
    </div>

    <div class="section">
        <div class="heading">Your Responsibilities</div>
        <div class="content">
            Architect and design complex distributed systems and build consensus.
            Design, build, maintain and operate services with high traffic and high resiliency
            Implement the next generation of Safety, Repair and Diagnostics services.
            Responding to and mitigating any live site issues impacting customers.
            Proficient troubleshooting (debugging) skills.
            Ability to take projects from beginning to end with little direct supervision.
            Teamwork and coordination skills with ability to create clarity from ambiguity.
        </div>
    </div>

    <div class="section">
        <div class="heading">Benefits</div>
        <div class="content">
            In addition to our wonderful team, our great culture, and our magnificent vision, there are a wide range of additional benefits that makes Atlas Labs an amazing place to work! You can receive:
            The experience of creating and implementing highly-valuable and innovative technology, while contributing to the long-term growth of a successful tech company
            High-impact working environment with flat hierarchies and short decision-making processes
            Market rate remuneration with a Dollar peg
            State-of-the-art hardware to work with and a modern software infrastructure
            A beautiful office in the heart of Colombo with plenty of flexibility to take care of what matters most!
        </div>
    </div>

    <div class="section">
        <div class="heading">Other Details</div>
        <div class="content">
            Architect and design complex distributed systems and build consensus.
            Design, build, maintain and operate services with high traffic and high resiliency
            Implement the next generation of Safety, Repair and Diagnostics services.
            Responding to and mitigating any live site issues impacting customers.
            Proficient troubleshooting (debugging) skills.
            Ability to take projects from beginning to end with little direct supervision.
            Teamwork and coordination skills with ability to create clarity from ambiguity.
        </div>
    </div>

    <button class="apply-button" title="ApplyJob">Apply To This Job</button>
</div>
