<div class="detail">
    <div class="detail-outer">
        <div class="detail-inner">
            <div class="detail-head-left">Job Number</div>
            <div class="detail-data">{{adData.job_number}}</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head-left">Date Posted</div>
            <div class="detail-data">{{adData.posted_date}}</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head-left">Location</div>
            <div class="detail-data">{{adData.country}}, {{adData.city}}</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head-left">Salary</div>
            <div class="detail-data">LKR {{adData.salary}}</div>
        </div>
    </div>

    <div class="detail-outer-left">
        <div class="detail-inner">
            <div class="detail-head">Employment Type</div>
            <div class="detail-data">{{adData.employeement_type}}</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Arrangement</div>
            <div class="detail-data">{{adData.arrangement}}</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Experience Level</div>
            <div class="detail-data">{{adData.is_experience_required}}</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Deadline</div>
            <div class="detail-data">{{adData.submission_deadline}}</div>
        </div>
    </div>
</div>
<hr>

<div class="section">
    <div class="heading">Overview</div>
    <div class="content">{{adData.job_overview}}</div>
</div>

<div class="section">
    <div class="heading">Your Qualifications</div>
    <div class="content">{{adData.job_qualifications}}</div>
</div>

<div class="section">
    <div class="heading">Your Responsibilities</div>
    <div class="content">{{adData.job_responsibilities}}</div>
</div>

<div class="section">
    <div class="heading">Benefits</div>
    <div class="content">{{adData.job_benefits}}</div>
</div>

<div class="section">
    <div class="heading">Other Details</div>
    <div class="content">{{adData.job_other_details}}</div>
</div>

<button mat-raised-button class="apply-button" title="ApplyJob" color="primary">Apply To This Job</button>
