<app-ca-nav-bar></app-ca-nav-bar>
<div class="container">
	<mat-card class="card">
		<div class="heading">
			<p class="title">Create New Job Advertisement</p>
			<p class="companyname">BISTECH GLOBAL SERVICES</p>
		</div>
		<mat-divider></mat-divider>
		<form class="form-container" #createJobForm="ngForm" (ngSubmit)="createNewJob(createJobForm.value)">
			<mat-grid-list cols="{{noOfCols}}" rowHeight="90">
				<mat-grid-tile>
					<mat-form-field color="primary" appearance="outline">
						<mat-label>Post On</mat-label>
						<input matInput [matDatepicker]="picker1" autocomplete="off" [formControl]="currentDate" readonly>
						<mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>  
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Target Job Field</mat-label>
						<mat-select #selectField name="field_id" ngModel (valueChange)="onChangeField(selectField.value)">
						@for (field of fields; track field) {
							<mat-option [value]="field.field_id">{{field.field_name}}</mat-option>
						}
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field color="primary" appearance="outline">
						<mat-label>Deadline</mat-label>
						<input matInput [matDatepicker]="picker2" name="submission_deadline" ngModel>
						<mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>  
				</mat-grid-tile>
				<mat-grid-tile colspan="{{((noOfCols - 1 > 0) ? (noOfCols - 1) : 1)}}">
					<mat-form-field appearance="outline">
						<mat-label>Job Title</mat-label>
						<input matInput placeholder="Job Title" name="title" ngModel>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Job Number</mat-label>
						<input matInput placeholder="Job Number" name="job_number" ngModel>
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

				<div class="textbox-form-field">
					<mat-form-field appearance="outline">
						<mat-label>Keywords</mat-label>
						<mat-chip-grid #chipGrid aria-label="keyword selection">
							@for (keyword of keywords; track keyword) {
							<mat-chip-row (removed)="remove(keyword)">
								{{keyword}}
								<button matChipRemove [attr.aria-label]="'remove ' + keyword">
								<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip-row>
						}
						</mat-chip-grid>
						<input placeholder="New keyword..." #keywordInput [formControl]="keywordCtrl"
							[matChipInputFor]="chipGrid" [matAutocomplete]="auto"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							(matChipInputTokenEnd)="add($event)"/>
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
							@for (keyword of filteredkeywords | async; track keyword) {
								<mat-option [value]="keyword">{{keyword}}</mat-option>
							}
						</mat-autocomplete>
						<mat-hint>These keywords are used to search purpose of the job title</mat-hint>
					</mat-form-field>
				</div>
				
			<mat-grid-list cols="{{noOfCols}}" rowHeight="90">
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Employment Type</mat-label>
						<mat-select name="employeement_type" ngModel>
							@for (emptype of empTypes; track emptype) {
								<mat-option [value]="emptype">{{emptype}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Job Arrangement</mat-label>
						<mat-select name="arrangement" ngModel>
							@for (arrangement of jobArrangement; track arrangement) {
								<mat-option [value]="arrangement">{{arrangement}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Experience</mat-label>
						<mat-select name="is_experience_required" ngModel>
							<mat-option [value]="false">Not Required</mat-option>
							<mat-option [value]="true">Required</mat-option>
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Country</mat-label>
						<input type="text"
							placeholder="Pick a Country"
							aria-label="Country"
							matInput #countryInput
							[formControl]="locationCountryControl"
							[matAutocomplete]="autocountry" (change)="onSelectedCountryChanged(countryInput.value)">
						<mat-autocomplete autoActiveFirstOption #autocountry="matAutocomplete">
						@for (option of locationCountryFilteredOptions | async; track option) {
							<mat-option [value]="option">{{option}}</mat-option>
						}
						</mat-autocomplete>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>City</mat-label>
						<input type="text"
							placeholder="Pick a City"
							aria-label="City"
							matInput
							[formControl]="locationCityControl"
							[matAutocomplete]="autocity">
						<mat-autocomplete autoActiveFirstOption #autocity="matAutocomplete">
						@for (option of locationCityFilteredOptions | async; track option) {
							<mat-option [value]="option">{{option}}</mat-option>
						}
						</mat-autocomplete>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Salary</mat-label>
						<input matInput placeholder="Salary in {{unitOfSalary}}" name="salary" ngModel>
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			<div class="textbox-form-field">
				<mat-form-field appearance="outline">
					<mat-label>Overview of the Job</mat-label>
					<textarea matInput 
						cdkTextareaAutosize 
						#autosize="cdkTextareaAutosize" 
						cdkAutosizeMinRows="5" 
						cdkAutosizeMaxRows="{{maxTextareaHeight}}" 
						name="job_overview" [(ngModel)]="description[0]" maxlength="{{maxTextareaCharLimit}}"></textarea>
					<mat-hint>{{description[0].length}}/{{maxTextareaCharLimit}} characters</mat-hint>
				</mat-form-field>
			</div>

			<div class="textbox-form-field">
				<mat-form-field appearance="outline">
					<mat-label>Required Qualifications</mat-label>
					<textarea matInput 
						cdkTextareaAutosize 
						#autosize="cdkTextareaAutosize" 
						cdkAutosizeMinRows="5" 
						cdkAutosizeMaxRows="{{maxTextareaHeight}}"
						name="job_qualifications" [(ngModel)]="description[1]" maxlength="{{maxTextareaCharLimit}}"></textarea>
						<mat-hint>{{description[1].length}}/{{maxTextareaCharLimit}} characters</mat-hint>
				</mat-form-field>
			</div>

			<div class="textbox-form-field">
				<mat-form-field appearance="outline">
					<mat-label>Responsibility of the Candidate</mat-label>
					<textarea matInput 
						cdkTextareaAutosize 
						#autosize="cdkTextareaAutosize" 
						cdkAutosizeMinRows="5" 
						cdkAutosizeMaxRows="{{maxTextareaHeight}}"
						name="job_responsibilities" [(ngModel)]="description[2]" maxlength="{{maxTextareaCharLimit}}"></textarea>
						<mat-hint>{{description[2].length}}/{{maxTextareaCharLimit}} characters</mat-hint>
				</mat-form-field>
			</div>

			<div class="textbox-form-field">
				<mat-form-field appearance="outline">
					<mat-label>Benefits of the Job</mat-label>
					<textarea matInput 
						cdkTextareaAutosize 
						#autosize="cdkTextareaAutosize" 
						cdkAutosizeMinRows="5" 
						cdkAutosizeMaxRows="{{maxTextareaHeight}}"
						name="job_benefits" [(ngModel)]="description[3]" maxlength="{{maxTextareaCharLimit}}"></textarea>
						<mat-hint>{{description[3].length}}/{{maxTextareaCharLimit}} characters</mat-hint>
				</mat-form-field>
			</div>

			<div class="textbox-form-field">
				<mat-form-field appearance="outline">
					<mat-label>Other Details</mat-label>
					<textarea
						matInput 
						cdkTextareaAutosize 
						#autosize="cdkTextareaAutosize" 
						cdkAutosizeMinRows="5" 
						cdkAutosizeMaxRows="{{maxTextareaHeight}}" maxlength="50"
						name="job_other_details" [(ngModel)]="description[4]" maxlength="{{maxTextareaCharLimit}}"></textarea>
						<mat-hint>{{description[4].length}}/{{maxTextareaCharLimit}} characters</mat-hint>
				</mat-form-field>
			</div>


			<div class="button-container">
				<button type="submit" mat-raised-button color="primary" class="button">Post Advertisement</button>
			</div>
		</form>
	</mat-card>
</div>
