.container{
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
  background-color: aqua;
}

.form-popup {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  
  /*  width: 32%;
    height:90%;
    border: 3px black;
    border-radius: 25px;
    background: #fff;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }*/
 
  .pop-up-Header {
   position: relative;
    margin-top: 28px;
    font-family:lato;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: normal;
    
   
  }
  
.form-container {
    display: flex;
    flex-direction: column;
  }

 /* mat-form-field {
   width:80%;
 }*/

  #firstchild {
    margin-top: 30px;
  }

 .example-radio-group {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    background-color: blueviolet;
  }
  
  .example-margin {
    margin: 0 10px;
  }


 /*.buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
  }
 /* .buttons button{
    margin:10px;
  }*/

  /*making pages responsive

  @media (max-width: 900px) {
    .form-popup {
      border:none;
      box-shadow:white;  Set border width to 0, effectively hiding the border 
    }
  }*/

  

  
  