<section class="container">
<div class="form-popup" id="myForm" >
  <form class="form-container" #subroleForm="ngForm" (ngSubmit)="onRoleCreate(subroleForm.value)">
  <div class="pop-up-Header">Create New Subordinate Account</div>

    <mat-form-field appearance="outline" id="firstchild">
      <mat-label>First Name</mat-label>
      <input matInput name="first_name" ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput name="last_name" ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput name="password" ngModel/>
    </mat-form-field>

    <mat-radio-group class="example-radio-group">
      <mat-radio-button class="example-margin" name="subrole" value="HRM" checked="checked" >HR Manager</mat-radio-button>
      <mat-radio-button class="example-margin" name="subrole" value="HRA">HR Assistant</mat-radio-button><!--[ngModel]='emp_role'-->
    </mat-radio-group>

   <app-file-upload></app-file-upload>
   
    <section class="buttons">
      <button type="submit" mat-raised-button color="primary">Create Account</button>
      <button type="button" mat-raised-button color="primary">Cancel</button>
    </section>
  </form>
</div>
</section>
