<div class="form-popup" id="myForm">
  <div class="pop-up-Header">Create New Subordinate Account</div>
  <form class="form-container">
    <mat-form-field appearance="outline" id="firstchild">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>

    <section class="example-section">
      <label class="example-margin">Type</label>
      <mat-checkbox class="example-margin">HR Manager</mat-checkbox>
      <mat-checkbox class="example-margin">HR Assistant</mat-checkbox>
    </section>

    <div class="fileupload">
      <div id="Documentsubmissioncontainer" class="formchild">
        <input type="file" hidden id="fileID" style="display: none" />
        <span class="spanicon"
          ><mat-icon class="uploadicon">upload</mat-icon></span
        >
        <button class="fileuploadbtn" mat-button onclick="triggerFileInput()">
          Upload Profile Photo
        </button>
      </div>
    </div>

    <section class="buttons">
      <button mat-raised-button color="primary">Create Account</button>
      <button mat-raised-button color="primary">Cancel</button>
    </section>
  </form>
</div>
