<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<section class="container">
<div class="form-popup" id="myForm" >
  <div class="pop-up-Header">Create New Subordinate Account</div>
  <form class="form-container" #subroleForm="ngForm" (ngSubmit)="onRoleCreate(subroleForm.value)">
 

    <mat-form-field appearance="outline" id="firstchild">
      <mat-label>First Name</mat-label>
      <input matInput name="first_name" ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput name="last_name" ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput name="password" ngModel/>
    </mat-form-field>

    <mat-radio-group class="example-radio-group">
      <mat-radio-button class="example-margin" name="subrole" value="HRM" checked="checked" [(ngModel)]="emp_role">HR Manager</mat-radio-button>
      <mat-radio-button class="example-margin" name="subrole" value="HRA" [(ngModel)]="emp_role">HR Assistant</mat-radio-button>
    </mat-radio-group>

   <app-file-upload></app-file-upload>
   
    <section class="buttons">
      <button type="submit" mat-raised-button color="primary">Create Account</button>
      <button type="button" mat-raised-button color="primary">Cancel</button>
    </section>
  </form>
</div>
</section>
