<app-nav-bar></app-nav-bar>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
/>
<div class="bodySection">
  <span class="sectionHeading">Company Name</span>
  <div class="top-section">
    <img src="assets/BistechLogo.png" class="md-card-image" />
    <div class="image-side-section">
      <form class="form">
        <mat-form-field class="form-field">
          <mat-label>Company Name</mat-label>
          <input
            matInput
            placeholder="Enter your Company Name"
            value="Bistec Global"
          /><mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Company Number</mat-label>
          <input
            matInput
            placeholder="Enter your Company Number"
            value="CN-001"
          /><mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="bottom-section">
    <div class="sectionTwo" style="width: 100%">
      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          value="some details"
        ></textarea
        ><mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
    <div class="details-section-two">
      <div class="staring-section">
        <div class="sectionTwo">
          <mat-form-field class="form-field">
            <mat-label>Web Site</mat-label>
            <input
              matInput
              placeholder="Enter your Company website"
              value="www.bistecglobal.com"
            /><mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="ending-section">
        <div class="sectionTwo">
          <mat-form-field class="form-field">
            <mat-label>Bussiness Scale</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Small Scale</mat-option>
              <mat-option value="option2">Medium Scale</mat-option>
              <mat-option value="option3">Large Scale</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="details-section-two">
      <div class="staring-section">
        <div class="sectionTwo">
          <mat-form-field class="form-field">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Enter your Company phone Number"
              value="011234567"
            /><mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="ending-section">
        <div class="sectionTwo">
          <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter your email"
              value="bistechglobal@gmail.com"
            />
            @if (email.invalid) {
            <mat-error>{{ getErrorMessage() }}</mat-error>
            }
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="details-section-two">
      <div class="staring-section">
        <div class="sectionTwo">
          <mat-form-field class="form-field">
            <mat-label>City</mat-label>
            <mat-select [(value)]="selectedCity">
              <mat-option>None</mat-option>
              <mat-option value="option1">Colombo 07</mat-option>
              <mat-option value="option2">Wellawatta</mat-option>
              <mat-option value="option3">Boralesgamuwa</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="ending-section">
        <div class="sectionTwo">
          <mat-form-field class="form-field">
            <mat-label>Province</mat-label>
            <mat-select [(value)]="selectedProvince">
              <mat-option>None</mat-option>
              <mat-option value="option1">Colombo</mat-option>
              <mat-option value="option2">Matara</mat-option>
              <mat-option value="option3">Kegalle</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="button-section">
    <div class="right-btn">
      <button
        style="margin-right: 10px"
        type="submit"
        class="apply-changes-class"
      >
        <span class="apply-changes">Apply Changes</span>
      </button>
      <button class="discard-changes-class" type="reset">
        <span class="discard-changes">Discard Changes</span>
      </button>
    </div>
    <div class="left-btn">
      <button class="delete-account-class">
        <span class="delete-account">Delete Accoount</span>
      </button>
    </div>
  </div>
</div>
