.job-card {
    margin: 1em;
    padding: 1.75em;
    padding-left: 2.4em;
    display: flex;
    flex-direction: row;
}

.job-heading{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.job-details-inner{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: flex-end;
    margin-right: 3em;
}
  
.job-logo {
    background-size: cover;
}

.job-title {
    color: black; 
    font-size: 30px; 
    font-family: Lato; 
    font-weight: 700; 
}
  
.company-name {
    color: #008080; 
    font-size: 20px; 
    font-family: Lato; 
    font-weight: 700; 
    word-wrap: break-word;
    margin-top: 0.75em;
    cursor: pointer;
}
  
.job-field {
    color: black; 
    font-family: Lato;
    font-weight: 700;
    margin-top: 1em;
}

.post-date{
    color: #008080; 
    font-family: Lato;
    font-size: 15px;
    margin-top: 1em;
    margin-right: 5em;
}

.job-details-outer{
    display: flex;
    width: 30%;
    height: 1em;
    flex-direction: column;
}

.job-summery-outer{
    display: flex;
    width: 20%;
    height: 1em;
    flex-direction: column;
}

.job-details-section{
    color: black; 
    font-family: Lato;
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}

mat-icon {
    font-size: 20px;
}

.summery-detail-text{
    font-weight: bolder;
    margin-left: 0.5em;
}

.title-container{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.title-container img{
    width: 80px; 
    height: 80px;
}

@media screen and (max-width: 768px) {
    .job-heading{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .job-card{
        flex-direction: column;
        padding: 1em;
        margin: 0.8em;
    }

    .title{
        padding-left: 0.5em;
    }

    .title-container img{
        width: 45px; 
        height: 45px;
        padding-top: 0.7em;
        margin-right: 0.25em;
    }

    .job-title{
        font-size: 18px; 
        font-weight: 600; 
    }

    .company-name {
        font-size: 15px; 
        margin-top: 0.2em;
        font-weight: 600;
    }

    .job-field {
        font-weight: 500;
        margin-top: 0.5em;
    }

    .job-summery-outer{
        width: 100%;
        flex-direction: row;
        height: 3em;
    }

    .job-details-section{
        font-size: 14px;
        flex-direction: row;
    }

    mat-icon {
        font-size: 14px;
        margin-top: 0.2em;
        margin-right: 0em;
        padding-right: 0em;
    }

    .summery-detail-text{
        margin-left: 0em;
        padding-left: 0em;
        margin-right: 0.7em;
    }

    .button-section{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
    }

    .job-details-inner{
        margin-top: 0em;
        width: 100%;
        margin-right: 1em;
        justify-content: space-between;
    }

    .post-date{
        display: none;
    }

    .button-section button{
        width: fit-content;
    }
}