<mat-card class="job-card">
    <div class="job-heading">
        <div class="title-container">
            <img class="company-logo" src="../../../assets/BistechLogo.png" alt="Company Logo">
            <div class="title">
                <mat-card-title class="job-title">{{job.title}}</mat-card-title>
                <mat-card-subtitle class="company-name" (click)="onClickCompanyName()">{{job.company_name}}</mat-card-subtitle>
            </div>
        </div>
        <p class="job-field">{{job.field_name}}</p>
    </div>
    <div class="job-summery-outer">
        <p class="job-details-section">
            <mat-icon>work</mat-icon>
            <span class="summery-detail-text">{{job.employeement_type}}</span>
        </p>
        <p class="job-details-section">
            <mat-icon>home</mat-icon>
            <span class="summery-detail-text">{{job.arrangement}}</span>
        </p>
        <p class="job-details-section">
            <mat-icon>location_on</mat-icon>
            <span class="summery-detail-text">{{job.country}}, {{job.city}}</span>
        </p>
    </div> 
    <div class="job-details-outer">
        <app-advertisement-actions [jobID]="job.advertisement_id" [currentStatus]="job.is_saved" [expired]="job.is_expired"></app-advertisement-actions>
        <div class="job-details-inner">
            <p class="post-date">Posted On {{job.posted_date}}</p>
            <button mat-button class="show-details" (click)="onClickMoreDetails()">More Details</button>
        </div>
    </div>
</mat-card>
  