<div class="page">
    <section class="navbar"></section>
    <h1>Edit Profile</h1>
    <mat-stepper
      style="background-color: #008080"
      labelPosition="bottom"
      #stepper
      color="primary"
    >
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel></ng-template>
  
          <div class="form-popup" id="myForm">
            <div class="up-container">
              <div class="left">
                <img
                  src="\assets\images\signup1.png"
                  alt="Seeker"
                  class="seeker"
                />
                <h2>Find Your Future With FirstStep </h2>
              </div>
  
              <div class="right">
                <div class="form-container">
                  <h3>Create your FirstStep Account</h3>
                  <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input
                      matInput
                      placeholder="Enter First name"
                      formControlName="firstCtrl"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input
                      matInput
                      placeholder="Enter Last name"
                      formControlName="firstCtrl"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input
                      matInput
                      placeholder="Enter Email"
                      formControlName="firstCtrl"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Contact Number</mat-label>
                    <input
                      matInput
                      placeholder="Enter contact Number"
                      formControlName="firstCtrl"
                      required
                    />
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel></ng-template>
  
          <div class="form-popup" id="myForm">
            <div class="up-container">
              <div class="left">
                <img
                  src="\assets\images\signup5.png"
                  alt="Seeker"
                  class="seeker"
                />
              </div>
  
              <div class="right">
                <div class="form-container">
                  <h3>Create your FirstStep Account</h3>
                  <p>
                    Verify your email<br />Please check your email and enter the
                    confirmation code
                  </p>
                  <br />
                  <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input
                      matInput
                      formControlName="secondCtrl"
                      placeholder="example@gmail.com"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>OTP</mat-label>
                    <input
                      matInput
                      formControlName="secondCtrl"
                      placeholder="Enter OTP for verification"
                      required
                    />
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel></ng-template>
    
            <div class="form-popup" id="myForm">
              <div class="up-container">
                <div class="left">
                  <img
                    src="\assets\images\signup3.png"
                    alt="Seeker"
                    class="seeker"
                  />
                </div>
    
                <div class="right">
                  <div class="form-container">
                    <h3>Create your FirstStep Account</h3>
                    <mat-form-field>
                      <mat-label>University</mat-label>
                      <input
                        matInput
                        formControlName="thirdCtrl"
                        placeholder="Enter University"
                        
                      />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>LinkedIn Profile</mat-label>
                      <input
                        matInput
                        formControlName="thirdCtrl"
                        placeholder="Enter LinkedIn Profile URL"
                        
                      />
                    </mat-form-field>
                    <mat-label>CV/Resume</mat-label>
                    <br><br>

  
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </mat-step>
  
      <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel></ng-template>
    
            <div class="form-popup" id="myForm">
              <div class="up-container">
                <div class="left">
                  <img
                    src="\assets\images\signup4.png"
                    alt="Seeker"
                    class="seeker"
                  />
                </div>
    
                <div class="right">
                  <div class="form-container">
                    <h3>Create your FirstStep Account</h3>
                    <mat-form-field>
                      <mat-label>Field of Work</mat-label>
                      <input
                        matInput
                        formControlName="fourthCtrl"
                        placeholder="Enter Field of Work"
                        
                      />
                    </mat-form-field>
                    
                    <mat-label>Add your skills</mat-label>
                    <br><br>

  
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </mat-step>
  
      <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel></ng-template>
    
            <div class="form-popup" id="myForm">
              <div class="up-container">
                <div class="left">
                  <img
                    src="\assets\images\signup5.png"
                    alt="Seeker"
                    class="seeker"
                  />
                </div>
  
    
                <div class="right">
                  <div class="form-container">
                    <h3>Create your FirstStep Account</h3>
  
                    <mat-label>Profile Picture</mat-label>
  
                    <mat-form-field>
                      <mat-label>Bio</mat-label>
                      <input
                        matInput
                        formControlName="fifthCtrl"
                        placeholder="Enter Bio"
                        
                      />
                    </mat-form-field>
  
                    <mat-form-field>
                      <mat-label>Description</mat-label>
                      <input
                        matInput
                        formControlName="fifthCtrl"
                        placeholder="Enter Description"
                        
                      />
                    </mat-form-field>
                    
                    
  
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </mat-step>
  
  
  
  
    </mat-stepper>
  </div>
  