<mat-toolbar class="nav-bar mat-elevation-z4">
    <span>
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Logo" class="logo">
      </a>
    </span>
    <span>FirstStep</span>
    <span class="flex-spacer"></span>
    <div class="right-buttons">
      <a routerLink="/ca/home" routerLinkActive="active">Dashboard</a>
      <a routerLink="/ca/companyProfile" routerLinkActive="active">Company Profile</a>
      <a routerLink="/ca/manageRoles" routerLinkActive="active">Manage Roles</a>
      <a routerLink="/ca/jobOfferList" routerLinkActive="active">Job Offers</a>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="medium-icon-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <span class="menu-header">
          <div class="icon">
            <mat-icon class="large-mat-icon"><i class="fa-solid fa-circle-user"></i></mat-icon>
          </div>
          <div class="menu-header-container">
            <div class="user-name">
              {{name}}
            </div>
            <div class="company-name">
              {{company}}
            </div>
          </div>
        </span>
        <hr>
        <button mat-menu-item (click)="roleProfileEdit()">
          <mat-icon class="medium-mat-icon"><i class="fa-solid fa-user-gear"></i></mat-icon>
          <span>My Account Settings</span>
        </button>
        <button mat-menu-item (click)="onSignoutClick()">
          <mat-icon class="medium-mat-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>      
    </div>
</mat-toolbar>  