.adTable{
    width: 95%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 0.5em;
  }

  .page{
    margin: 10em 10em 10em 10em;
  }
  
  .page-title{
    margin-top: 4em;
  }
  
  .page-title p{
    color: #008080;
    font-family: Lato;
    font-size: 30px;
  }
  
  .pagetitle-content{
    margin-top: 2em;
    width: 97.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
    
  th.mat-header-cell {
    text-align: center !important;
  }

  


  .icons{
    color: #008080;
    padding: auto;
    width: 10em;

  }
  