mat-card{
    width: 82%;
    height: 8em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-element{
    width: 20em;
    padding-left: 1em;
    height: 1em;
}

.title{
    width: 30em;
}

.searchBtn{
    width: 10em;
    margin-left: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}