<mat-card>
    <div class="container">
        <mat-form-field appearance="outline" class="search-element title">
            <mat-label>Job Title</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-element">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-element">
            <mat-label>City</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-element">
            <mat-label>Employment Type</mat-label>
            <mat-select name="employeement_type" ngModel>
                @for (emptype of empTypes; track emptype) {
                    <mat-option [value]="emptype">{{emptype}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-element">
            <mat-label>Job Arrangement</mat-label>
            <mat-select name="arrangement" ngModel>
                @for (arrangement of jobArrangement; track arrangement) {
                    <mat-option [value]="arrangement">{{arrangement}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    
        <button mat-icon-button color="primary">
            <mat-icon>search</mat-icon>
        </button>    
    </div>
</mat-card>