<!-- your.component.html -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
/>
<app-nav-bar></app-nav-bar>

<div class="card" fxLayout.xs="column" [fxFlex.gt-sm]="50" [fxFlex.xs]="75">
  <mat-card>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="class1" fxHide.lt-sm
          ><img src="Img.png" alt="image"
        /></mat-grid-tile>

        <mat-grid-tile class="class2" fxLayout="column">
          <div fxLayout="column">
            <span class="title">Reset Your Password</span>

            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="Enter new password" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Re-enter new password" required />
            </mat-form-field>

            <div class="btn" fxLayout.gt-sm="['flex-end']">
              <button mat-button class="rest" value="Reset">
                <span class="reset-btn-name">Reset</span>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
