<app-spinner></app-spinner>
<div class="page-title">
    <p class="title">DashBoard</p>
    <mat-grid-list cols="2" rowHeight="2:1" class="card">
        <mat-grid-tile>
            <mat-card class="eligibleUnregisteresCompanies">
                <p class="center-text title-section">Eligible Unregistered Companies</p>
                <mat-card class="emptymsg" *ngIf="eligibleUnregisteredCompaniesLength <= 0">
                    <div>
                        <p class="center-text">Can't Find Any Results!</p>
                    </div>
                </mat-card>
                <mat-progress-bar mode="indeterminate" *ngIf="isEligibleUnregCmpaniesLoading==true"></mat-progress-bar>
                <table mat-table [dataSource]="items" class="mat-elevation-z8">
                    <ng-container matColumnDef="company_name">
                        <th mat-header-cell *matHeaderCellDef>Company Name</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.company_name }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="company_email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.company_email }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="eligibleUnregisteredCompaniesLength" [pageSize]="pageSize"
                    [pageSizeOptions]="[3, 5, 10]" (page)="pageChanged($event)">
                </mat-paginator>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="side-note">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Company Sides users </mat-panel-title>
                            <mat-panel-description> {{loggings.activeCmpUsers+loggings.inactiveCmpUsers}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Active: {{loggings.activeCmpUsers}}</p>
                        <p>Inactive: {{loggings.inactiveCmpUsers}}</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title> seekers</mat-panel-title>
                            <mat-panel-description>
                                Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Active: {{loggings.activeSeeker}}</p>
                        <p>Inactive: {{loggings.inactiveSeeker}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="CA">Total:{{loggings.activeCA+loggings.inactiveCA}}</mat-tab>
            <mat-tab label="HRM">Total:{{loggings.activeHRM+loggings.inactiveHRM}}</mat-tab>
            <mat-tab label="HRA">Total:{{loggings.activeHRA+loggings.inactiveHRA}}</mat-tab>
        </mat-tab-group>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Active">Content 1</mat-tab>
            <mat-tab label="Inactive">Content 2</mat-tab>
        </mat-tab-group>
    </mat-card>
</div>