<div class="job-actions">
    <button mat-button class="save-button" (click)="(currentStatus) ? unsaveAdvertisement() : saveAdvertisement()">
        <mat-icon color="primary">{{icon}}</mat-icon>
        {{(currentStatus) ? 'Saved' : 'Save'}}
    </button>

    <button
        mat-raised-button 
        class="apply-button"
        color="primary"
        matBadge="{{expired? '!' : ''}}"
        matBadgeColor="warn"
        [disabled]="expired"
        disabledInteractive
        title="Quickly Apply to the Job">Apply</button>
</div>