.job-actions{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    margin-right: 3em;
    margin-bottom: 1em;
}

.save-button{
    margin-right: 1em;
}

.status-chip{
    margin-right: 2em;
}

.status-chip-accepted{
    background-color: green !important;
}

.status-chip-rejected{
    background-color: red !important;
}

.status-chip-pending{
    background-color: orange !important;
}