.job-actions{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    margin-right: 3em;
    margin-bottom: 1em;
}

.save-button{
    margin-right: 1em;
}

.status-chip-accepted{
    margin-right: 3em;
    margin-top: 0.25em;
    background-color: rgb(125, 181, 255) !important;
}

.status-chip-rejected{
    margin-right: 3em;
    margin-top: 0.25em;
    background-color: rgb(255, 137, 137) !important;
}

.status-chip-pending{
    margin-right: 3em;
    margin-top: 0.25em;
    background-color: rgb(255, 194, 82) !important;
}

@media screen and (max-width: 768px) {
    .job-actions{
        margin-top: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
        width: fit-content;
    }

    .save-button, .apply-button{
        font-size: small;
    }

    .status-chip-accepted, .status-chip-rejected, .status-chip-pending{
        margin-right: 0.7em;
    }

    .status-button{
        width: 8.8em;
    }
}