<mat-card class="example-card">
  <mat-card-header>
    <app-advertisement-header
    [company_name]="jobData.company_name"
    [job_field]="jobData.field_name"
    [job_title]="jobData.title"
    ></app-advertisement-header>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-stepper labelPosition="bottom" #stepper class="stepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Application Submission
          <br>date
        </ng-template>
        
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Application Screening
          <br>date
        </ng-template>
        
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Finalize
        <br>date
      </ng-template>
      </form>
    </mat-step>
  </mat-stepper>

  <mat-divider></mat-divider>
  
    <mat-card-title>Submitted Documents</mat-card-title>
    <mat-card-content>CV
      <span
        ><button mat-stroked-button color="primary">View Document</button>
      </span>
  </mat-card-content>
</mat-card>
