
    <app-advertisement-header
      [company_name]="jobData.company_name"
      [job_field]="jobData.field_name"
      [job_title]="jobData.title"
    ></app-advertisement-header>

  <mat-divider></mat-divider>
  <mat-dialog-content>
  <mat-stepper labelPosition="bottom" #stepper class="stepper" [linear]="true">
    <mat-step [stepControl]="firstFormGroup" [completed]="isCompleted('Submitted')" [editable]="false">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel
          >Application Submission <br/>{{applicationData.submitted_date}}
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [completed]="isCompleted('Screening')" [editable]="false">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel
          >Application Screening 
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [completed]="isCompleted('Finalized')" [editable]="false">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Application Finalize</ng-template>
      </form>
    </mat-step>
  </mat-stepper>
<!--rejected message-->
<div class="rejected-message" *ngIf="applicationData.status === 'Rejected'">
  Your application has been rejected
</div>
</mat-dialog-content>
    <mat-dialog-actions> 
 
    <div>CV</div>
    <div>
       <button mat-flat-button color="primary" (click)="openpdf()">View document</button>
    </div>
  </mat-dialog-actions> 

