.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 20px;
}

.form-group {
  display: flex;
  gap: 1em;
  align-items: center;
}

.full-width {
  flex-grow: 1;
}

.button-request,
.button-verify {
  min-width: 100px;
  flex-shrink: 0;
}
mat-card.card {
  overflow: hidden;
}

/* Responsive styles for mobile view */
@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    align-items: stretch;
  }

  .button-request,
  .button-verify {
    width: 100%;
  }
}
