<mat-card class="card" style="padding: 2em; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); max-width: 400px;">
  <form [formGroup]="seekerForm">
    <div style="text-align: center; color: #008080; margin-bottom: 1em;">
      <h3 style=" font-size: 25px; font-weight: 500;">Verify Your Email Address</h3>
    </div>
    <div class="form-container">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Enter Email" formControlName="email" required />
          <mat-error *ngIf="seekerForm.controls['email'].touched && seekerForm.controls['email'].errors">
            Valid Email is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="requestOTP()" [disabled]="requestBtnstate" class="button-request">
          {{ requestBtnstate ? 'Resend in ' + rmnTime + ' sec' : 'Request OTP' }}
        </button>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>OTP</mat-label>
          <input matInput placeholder="Enter OTP" formControlName="otp_in" required />
        </mat-form-field>
        <button [disabled]="verifyBtnstate" mat-raised-button color="primary" (click)="VerifyOTP()" class="button-verify">
          Verify OTP
        </button>
      </div>
    </div>
  </form>
  <mat-divider style="margin: 1em 0;"></mat-divider>
  <div style="display: flex; justify-content: center;">
    <button mat-raised-button color="secondary" (click)="cancelDialog()" style="width: 100px; background-color: #e0e0e0; color: #000000;">
      Cancel
    </button>
  </div>
</mat-card>
