.container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
   
}

.left{
    display: flex;
    flex-direction: row;
}

.jobContent {
    display:flex;
    flex-direction:column;
    margin-left: 1em;
}

.title
     {
        color: #008080;
        /*font-size: 30px in percentage*/
        font-size: 30px;
     }

.num{
    font-size: 1.1vw;
    font-weight: 550;
}