.body {
  padding: 3em;
  width: 60%;
  margin: 0 auto;
}

.card {
  padding: 2em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  display: block;
  margin-bottom: 10px;
}

.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #008080;
}

.edit {
  color: #008080;
  cursor: pointer;
  margin-right: 5px;
}

.custom-file-upload mat-icon {
  font-size: 24px !important;
}

mat-grid-tile mat-form-field {
  width: 100%;
  margin: 0.75em 0;
}

mat-grid-tile {
  height: min-content;
  margin: 0;
}

.sectionHeading {
  margin: 6em 1em 4em 0.75em;
}

.title {
  color: #008080;
  font-size: 25px;
  font-family: Lato;
  font-weight: 700;
  word-wrap: break-word;
}

.description-text-editor {
  padding-left: 1em;
  width: calc(100% - 2.2em);
  margin-bottom: 1.2em;
  padding-top: 1em;
}

.email-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.email-form-field {
  flex: 0 0 65%;
}

.change-email-button {
  flex: 0 0 40%;
}

mat-form-field {
  width: 100%;
  height: 60px;
  position: relative;
  display: block;
  margin-bottom: 1.5em;
}

.button-with-inputbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-with-inputbox mat-form-field {
  width: 70%;
  margin-bottom: 0.5em;
}

.button-with-inputbox button {
  width: auto;
  height: auto;
  padding: 0.5em 1em;
  margin-left: 1em;
}

.textbox-form-field {
  position: relative;
  width: calc(100%);
  margin: 2rem auto 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.button {
  flex: 1;
  margin: 0 10px;
  max-width: 150px;
  overflow: hidden;
  background-color: #008080;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.2;
}

.discard-button {
  background-color: #e0e0e0;
  color: #000000;
}

.delete-button {
  background-color: #d32f2f;
  color: #ffffff;
}

.button:hover, .discard-button:hover, .delete-button:hover {
  cursor: pointer;
  background-color: #006666;
}

.delete-button:hover {
  background-color: #b71c1c;
}

.upload-cv-class,
.view-cv-class {
  font-weight: 400;
  width: 100%;
  background-color: #008080;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.upload-cv-class:hover,
.view-cv-class:hover {
  cursor: pointer;
  background-color: #006666;
}

.example-button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.des{
  margin-top: 1em;
  padding-bottom: 1em;
}

/* Responsive styles */
@media (max-width: 768px) {
  .body {
    width: 100%;
    padding: 0em;
    margin: 0;
  }

  .sectionHeading {
    font-size: 20px;
    margin: 3em 0.5em 2em 0.5em;
  }

  .card {
    padding: 1.5em;
    padding-top: 2em;
    margin: 0;
  }

  .title {
    font-size: 20px;
  }

  .description-text-editor {
    padding-left: 0.5em;
    width: calc(100% - 1em);
  }

  mat-grid-tile mat-form-field {
    margin: 0.5em 0;
  }

  .example-button-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }

  .example-button-row button{
    height: 3.5;
  }

  .example-button-row .mat-mdc-button-base {
    width: 100%;
    margin: 0.5em 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
  }

  .button {
    flex: 1;
    margin: 0 10px;
    max-width: 200px;
  }

  .button-with-inputbox mat-form-field {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .button-with-inputbox button {
    width: 100%;
  }  
}
