<div class="body">
  <app-spinner *ngIf="!hasDataLoaded"></app-spinner>
  <mat-card class="card" *ngIf="hasDataLoaded">
    <div class="heading title">
      <span class="sectionHeading">{{ seekerForm.get('first_name')?.value }} {{ seekerForm.get('last_name')?.value }}</span>
    </div>
    <form [formGroup]="seekerForm" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="140" style="margin: 0;">
        <mat-grid-tile class="tile">
          <p *ngIf="!propicUrl"><mat-spinner class="imageLoading"></mat-spinner>Loading image...</p>
          <div *ngIf="propicUrl">
            <img [src]="propicUrl" alt="Seeker profile picture" class="md-card-image" width="100" height="auto"
              onError="this.onerror=null;this.src='fallback-image-url';"><br />
            <div style="display: flex; justify-content: center; align-items: center;">
              <mat-icon *ngIf="!eventOccured" class="edit">editicon</mat-icon>
              <label *ngIf="!eventOccured" for="profile-upload" class="custom-file-upload">
                Edit image
              </label>
            </div>
            <input type="file" id="profile-upload" (change)="onselectFile($event)" *ngIf="!eventOccured"
              name="Edit Profile" />
          </div>
        </mat-grid-tile>      
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Bio</mat-label>
            <input matInput formControlName="bio" required />
            <mat-error *ngIf="hasError('bio')">{{ getErrorMessage('bio') }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name" required />
            <mat-error *ngIf="hasError('first_name')">{{ getErrorMessage('first_name') }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" required />
            <mat-error *ngIf="hasError('last_name')">{{ getErrorMessage('last_name') }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="description-text-editor">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
          <mat-error *ngIf="hasError('description')">{{ getErrorMessage('description') }}</mat-error>
        </mat-form-field>
      </div>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone_number" required />
            <mat-error *ngIf="hasError('phone_number')">{{ getErrorMessage('phone_number') }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="button-with-inputbox">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter Email" formControlName="email" [readonly]="emailReadOnly" required />
            <mat-error *ngIf="hasError('email')">{{ getErrorMessage('email') }}</mat-error>
          </mat-form-field>
          <button mat-raised-button class="apply-button" color="primary" (click)="openDialog()" id="otpreqbtn">Change your Email</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required />
            <mat-error *ngIf="hasError('password')">{{ getErrorMessage('password') }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>University</mat-label>
            <input matInput formControlName="university" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>LinkedIn URL</mat-label>
            <input matInput formControlName="linkedin" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Field</mat-label>
            <mat-select formControlName="field_id" required>
              <mat-option *ngFor="let field of fields" [value]="field.field_id">{{ field.field_name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('field_id')">{{ getErrorMessage('field_id') }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="textbox-form-field">
        <app-add-skills [skills]="skills" (skillChange)="changeSkillsArray($event)"></app-add-skills>
      </div>
        <div class="button-container" style="gap: 10px;">
          <button mat-raised-button color="primary" (click)="openUploadDialog()">Upload CV</button>
          <button mat-raised-button color="primary" [disabled]="disableViewButton" (click)="openPdfViewer()">View CV</button>
        </div>      
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <button type="submit" mat-raised-button color="primary">Update Profile</button>
          <button type="button" mat-raised-button id="discard" (click)="discardChanges()">Discard Changes</button>
          <button type="button" mat-raised-button color="warn" id="delete" (click)="deleteAccount()">Delete Profile</button>
        </div>
      </section>
    </form>
  </mat-card>
</div>
