
<div class="fileupload">
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <div id="Documentsubmissioncontainer" class="formchild">
      <input type="file" hidden id="fileID" style="display: none" (change)="handleFileInput($event)" onchange="console.log(event.target.files)"/>
      <span class="spanicon"
        ><mat-icon class="uploadicon">upload</mat-icon></span
      >
      <button class="fileuploadbtn" mat-button (click)="triggerFileInput()">
        Upload Profile Photo
      </button>
    </div>
  </div>
<!---->

