<!--hidden id="fileID"-->
<div class="fileupload">
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <div id="Documentsubmissioncontainer" class="formchild">
      <input type="file"  #file style="display: none" (change)="file.files && uploadFile(file.files)" onchange="console.log(event.target.files)"/>
      <span class="spanicon"
        ><mat-icon class="uploadicon">upload</mat-icon></span
      >
      <button class="fileuploadbtn" mat-button (click)="file.click()">
        Upload Profile Photo
      </button>
    </div>
  </div>


