header {
    background-color: bisque;
     height: 102px;
   }

 .example-card {
  margin:2vw;
  width:95%;
  height:calc(100% - 102px);
}

.detailsField{
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.textSection .fieldSection{
  display:flex;
  flex-direction:column;
  
}


