<header></header>
<mat-card class="example-card">
  <mat-card-header>
    <app-advertisement-header></app-advertisement-header>
    <!--
      <mat-card-title>Senior Flutter Developer</mat-card-title>
      <mat-card-subtitle>BISTECH GLOBAL (PVT) LTD</mat-card-subtitle>-->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card-title>Application Form</mat-card-title>
    <div class="detailsField">
      <div class="textSection">
        <div>First Name</div>
        <div>Last Name</div>
        <div>Email</div>
        <div>phone number</div>
        <div>Linkedin</div>
        <div>CV</div>
        <div>Other Documents</div>
      </div>
      <div class="fieldSection">
        <div>Nethma</div>
        <div>Karunathilaka</div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>Submit</button> 
  </mat-card-actions>
</mat-card>
