<mat-card class="example-card">
  <mat-card-header>
    <app-advertisement-header
      [company_name]="jobData.company_name"
      [job_field]="jobData.field_name"
      [job_title]="jobData.title"
      [company_logo_url]="jobData.company_logo_url"
    ></app-advertisement-header>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-dialog-content>
    <mat-card-title>Application Form</mat-card-title>
    <div class="detailsField">
      <div class="textSection">
        <div>First Name</div>
        <div>Last Name</div>
        <div>Email</div>
        <div>Phone Number</div>
        <div>Linkedin</div>
        <div>CV</div>
      </div>
      <div class="fieldSection">
        <div>{{ SeekerDetails.first_name }}</div>
        <div>{{ SeekerDetails.last_name }}</div>
        <div>{{ SeekerDetails.email }}</div>
        <div>{{ SeekerDetails.phone_number }}</div>
        <div>{{ SeekerDetails.linkedin }}</div>
        <!--change in backend-->
        <div class="document">
          <div *ngIf="!useDefaultCv">
            <app-seeker-application-file-upload
              (fileSelected)="onCvSelected($event)"
            ></app-seeker-application-file-upload>
          </div>
          <div *ngIf="useDefaultCv">
            <app-file-download 
            [cvUrl]="SeekerDetails.defualt_cv_url"
            [cvName]="SeekerDetails.first_name + ' ' + SeekerDetails.last_name + '_CV.pdf'"
              ></app-file-download>
          </div>
          <br />
          <mat-checkbox color="primary" [(ngModel)]="useDefaultCv"
            ><span class="checkbox-text"
              >Use default CV in profile</span
            ></mat-checkbox
          >
        </div>
      </div>
    </div>
    <p *ngIf="!canApply" class="warn-msg">You are already submitted an application for this job advertisement!</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div>
      <button *ngIf="canApply" mat-raised-button color="primary" (click)="onSubmitForm()">
        Submit Application
      </button>
      <button *ngIf="!canApply" mat-raised-button color="primary" (click)="onSubmitForm()">
        Resubmit Application
      </button>
    </div>
  </mat-dialog-actions>
</mat-card>

<app-spinner></app-spinner>