mat-card {
  height: auto;
  padding: 3%;
}

.detailsField {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textSection .fieldSection {
  display: flex;
  flex-direction: column;
}

.textSection {
  width: 15em;
  font-weight: bold;
}

.doc {
  display: flex;
  flex-direction: row;
  height: 46%;
  align-items: center;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008080;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

mat-card-content {
  color: #000;
  font-style: normal;
  line-height: normal;
}

.textSection div {
  margin-top: 1em;
}
.fieldSection div {
  margin-top: 1em;
}

.checkbox-text {
  color: #008080;
}

@media screen and (max-width: 768px){

  mat-card {
    padding: 2%;
  }


  .textSection {
    width: auto;
    font-size: 14px;
  }

  .fieldSection {
    margin-left: 0;
    font-size: 14px;
  }

  mat-card-title {
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  mat-card-content {
    font-size: 14px;
  }

  .textSection div,
  .fieldSection div {
    margin-top: 0.5em;
  }

  .checkbox-text {
    font-size: 14px;
  }

  .textSection {
    width: 10em;
  }
  .fieldSection {
    margin-left: 10px;
  }

}
