
<mat-card class="example-card">
  <mat-card-header>
    <app-advertisement-header></app-advertisement-header>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card-title>Application Form</mat-card-title>
    <div class="detailsField">
      <div class="textSection">
        <div>First Name</div>
        <div>Last Name</div>
        <div>Email</div>
        <div>phone number</div>
        <div>Linkedin</div>
        <div>CV</div>
        <div></div>
        <div class="doc">Other Documents</div>
      </div>
      <div class="fieldSection">
        <div>Nethma</div><!--{{SeekerDetails.first_name}}-->
        <div>Karunathilaka</div>
        <div>Nethmakarunathilagmail.com</div>
        <div>0711253134</div>
        <div>https://www.linkedin.com/in/nethma-karunathilaka</div>
        <div><app-file-upload></app-file-upload>
        <p color="primary"><mat-checkbox color="primary">Use default CV in profile</mat-checkbox></p></div>
        <div><app-file-upload></app-file-upload></div>
        <div><button mat-raised-button color="primary">Submit Form</button></div> 
    </div>
    
    </div>
  </mat-card-content>
</mat-card>
