<div class="page-title">
  <p>Company Registration Application List</p>

  <div class="pageTitleContent">
    <span>
      <mat-chip-listbox
        aria-label="Filter"
        #filterByStatus
        (change)="filter(filterByStatus.selected)"
      >
        <mat-chip-option value="all">All</mat-chip-option>
        <mat-chip-option selected value="registered"
          >Registered Companies</mat-chip-option
        >
        <mat-chip-option value="unchecked">Unchecked Companies</mat-chip-option>
      </mat-chip-listbox>
    </span>
  </div>
</div>

<mat-card class="emptymsg" *ngIf="jobListLength <= 0">
  <div>
    <p class="center-text">Can't Find Any Results!</p>
  </div>
</mat-card>

<!--table-->
<div class="addTable mat-elevation-z8" *ngIf="jobListLength > 0">
  <table mat-table></table>
</div>
