<form [formGroup]="firstFormGroup">

    <div>
        <a>Ashan</a>
        <div>
            <h2 style="padding-left: 70px; padding-top: 40px;">Find Your Future With FirstStep </h2>
        </div>

        <div>

            <h3>Create Company Admin Account</h3>
            <div class="form-group">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter First name" formControlName="fName" required />
            </div>
            <div class="form-group">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last name" formControlName="lName" required />
            </div>
            <div class="form-group">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Enter Email" formControlName="email" required />
                <button mat-button style="color: white; margin-left: 20px;">Send OTP</button>
            </div>
            <div class="form-group">
                <mat-label>OTP</mat-label>
                <input matInput placeholder="Enter OTP" formControlName="otp" required />
                <button mat-button style="color: white; margin-left: 20px;">Verify</button>
            </div>
            <div class="form-group">
                <mat-label>PassWord</mat-label>
                <input matInput placeholder="Enter OTP" formControlName="otp" required />
            </div>
            <div class="form-group">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Enter OTP" formControlName="otp" required />
            </div>
            <div class="form-group">
                <mat-label>Profile Picture</mat-label>
                <input matInput placeholder="Enter contact Number" formControlName="pNumber" required />
            </div>
            <div class="form-group">
                <button mat-button style="color: white; margin-left: 20px;">Create</button>
            </div>


        </div>
    </div>


</form>