<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<mat-toolbar class="nav-bar mat-elevation-z4">
  <span>
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
    </a>
  </span>
</mat-toolbar>

<div class="container">
  <div class="uppersection">
    <div class="left">
      <h2>ASP.NET Developer</h2>
      <div class="no">Job Number : 2752669</div>
      <div class="field">Information Technology and Computer Science</div>
    </div>
    <div class="right">
      <div class="assigned">
        <mat-label
          >Assigned <mat-icon>assignment_turned_in</mat-icon></mat-label
        >
      </div>
      <div class="assigned">
        <mat-label>Not Evaluated<mat-icon>assignment_late</mat-icon></mat-label>
      </div>
      <div class="assigned">
        <mat-label>Selected<mat-icon>check_circle</mat-icon></mat-label>
      </div>
    </div>
  </div>
</div>
