<mat-toolbar class="nav-bar mat-elevation-z4">
    <span>
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Logo" class="logo">
      </a>
    </span>
    <span>FirstStep</span>
    <span class="flex-spacer"></span>
    <div class="right-buttons">
      <a routerLink="/seeker/home" routerLinkActive="active">Search</a>
      <a routerLink="/seeker/saved" routerLinkActive="active">Saved List</a>
      <a routerLink="/seeker/applications" routerLinkActive="active">Applications</a>
    </div>
</mat-toolbar>  