<div class="job-heading">
    <div class="job-heading-post-outer">
        <div class="job-post-heading-inner">
            <button class='back-button' title='Go back'>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="job-post-heading-inner">
            <!--
            <img class="company-logo" src="assets/bistec-logo.jpg" alt="Company Logo">
            -->
        </div>
        <div class="job-post-heading-inner">
            <h1 class="job-title">Senior Flutter Developer</h1>
            <p class="company-name">BISTEC GLOBAL BISTECH GLOBAL (PVT) LTD</p>
        </div>    
    </div>
    <div class="job-heading-post-outer">
        <p class="job-field">Information Technology and Computer Science</p>
    </div>
</div>
