header {
  background-color: bisque;
  height: 102px;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 102px);
  margin: 0% 5% 0% 5%;
  padding: 0;
}

.sec {
  flex: 1;
}

#TitlePart {
 /* background-color: orange;*/
  display: flex;
  flex: 1;
}

.topic {
 /* background-color: cadetblue;*/
  width: 100%;
  color: #008080;
  font-family: Lato;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button {
  background-color: coral;
  color: #008080;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#HrManager {
  background-color: blueviolet;
  flex: 2;
}
#HrAssistant {
  background-color: brown;
  flex: 2;
}
