<div class="container">
    <div class="image">
    <img src="assets/images/mail.png" alt="mail"  width="279px" height="201px"><!--convert to percentage-->
    </div>
    <div class="message">
        <h1>Your Application Sent to the BISTECH GLOBAL (PVT) LTD</h1>
    </div>
    
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="back()">Back to Home</button>
        <button mat-stroked-button color="primary" (click)="viewapplication()">View application</button>    
    </div>
    
</div>