.container{
   height: calc(100% - 102px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
} 

.image {
    margin-bottom: 1.25em;
 }
 
 .message {
    
    margin-bottom: 2em;
 }
 
 .buttons {
    cursor: pointer;
    gap: 2em;
    display: flex;
 }
 
 