<app-ca-nav-bar></app-ca-nav-bar>
<style>
  .custom-link a {
    color: white; /* Change to the desired color for text */
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
  }
  .custom-icon {
    color: white; /* Change to the desired color for icons */
  }
</style>
<section>
  <br />
</section>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list>
      <br /><br />
      <mat-list-item>
        <h3 mat-line style="color: white; font-family: Lato; font-size: 30px">
          Quick Fixes
        </h3>
      </mat-list-item>
      <br /><br />
      <div class="custom-link">
        <a mat-list-item href="https://www.google.com/" class="custom-link"
          ><mat-label
            >Create new job offer<mat-icon class="custom-icon">launch</mat-icon>
          </mat-label></a
        >
      </div>
      <a mat-list-item href="#" class="custom-link" style="color: white"
        ><mat-label
          >Temporary blocked job advertisement
          <mat-icon class="custom-icon">launch</mat-icon></mat-label
        >
      </a>
      <a mat-list-item href="#" class="custom-link"
        ><mat-label
          >Edit advertisement details
          <mat-icon class="custom-icon">launch</mat-icon></mat-label
        >
      </a>
      <a mat-list-item href="#" class="custom-link"
        ><mat-label
          >Remove advertisement
          <mat-icon class="custom-icon">launch</mat-icon></mat-label
        >
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <h2></h2>

    <section class="chart">
      <div>
        <canvasjs-chart
          [options]="chartOptions"
          [styles]="{ width: '100%', height: '360px' }"
        ></canvasjs-chart>
      </div>
    </section>
    <br /><br /><br /><br />

    <section></section>
    <label style="color: #008080; font-family: Lato; font-size: 30px"
      > Offers</label
    ><br />
    <br />

    <section class="table-container">
      <mat-form-field>
        <mat-label style="color: gray">Search</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Software"
          #input
        />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Target Field Column -->
        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef>Field</th>
          <td mat-cell *matCellDef="let element">{{ element.field }}</td>
        </ng-container>

        <!-- Posted date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Posted Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <!-- noOfApplications Column -->
        <ng-container matColumnDef="noOfApplications">
          <th mat-header-cell *matHeaderCellDef>No. of Applications</th>
          <td mat-cell *matCellDef="let element">
            {{ element.noOfApplications }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="1">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
