.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h2 {
  text-align: center;
  color: #002c3e;
}

.header-content {
  display: flex;
  align-self: start;
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: teal;
}

.greeting {
  display: flex;
  flex-direction: column;
  color: #002c3e;
}

.hlo {
  font-weight: bold;
  color: teal;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.row {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.card {
  padding: 1rem;
}

mat-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #002c3e;
}

.applications-card {
  flex: 2;
}

.employees-card {
  flex: 2;
}

.response-times-card {
  flex: 1;
}

.actions-card {
  flex: 1;
}

.status-card {
  flex: 1;
}

.interview-card {
  flex: 1;
}

.up-content {
  display: flex;
  justify-content: space-between;
  color: #002c3e;
}

body {
  color: #002c3e;
}
