.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .header-content {
    display: flex;
    align-self: start;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: teal;
  }
  
  .greeting {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
  }
  
  .card {
    padding: 1rem;
  }
  
  .applications-card {
    grid-column: span 2;
  }
  
  .status-card {
    grid-column: span 1;
  }
  
  .response-times-card {
    grid-column: span 1;
  }
  
  .actions-card {
    grid-column: span 1;
    align-self: start; /* Align at the start of the row */
  }
  
  .interviews-card {
    grid-column: span 1;
    grid-row: span 2; 
  }
  
  .employees-card {
    grid-column: span 1;
    grid-row: span 2; 
  }

  /*application styles*/
  .app-content {
    display: flex;
  }
  
  .lgraph {
    flex: 4;

  }
  
  .adList {
    flex: 1;
    padding: 10px; /* Optional: for some padding inside the adList */
  }
  