.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h2{
  text-align: center;
}
.header-content {
  display: flex;
  align-self: start;
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: teal;
}

.greeting {
  display: flex;
  flex-direction: column;
}
.hlo{
  font-weight: bold;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.card {
  padding: 1rem;
}

mat-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.applications-card {
  grid-column: span 2;
}

.status-card {
  grid-column: span 1;
}

.response-times-card {
  grid-column: span 1;
}

.actions-card {
  grid-column: span 1;
  align-self: start; /* Align at the start of the row */
}

.employees-card {
  grid-column: span 2;
  grid-row: span 2;
}

/*application styles*/
.up-content {
  display: flex;
  justify-content: space-between;
}
