<div class="body">

    <mat-card class="card">
        <!--Top Section-->
        <mat-grid-list cols="6" rowHeight="140">
            <mat-grid-tile [colspan]="1">

            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <span class="sectionHeading heading title">
                    <h2>Company Registration Status</h2>
                </span>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <div class="stateBar">
            <div class="container">
                <div class="circle-box">
                    <a>Application Submission</a>
                    <div class="circle">
                        <div class="checkmark"></div>
                    </div>
                    <a>{{cmpData.company_registered_date}}</a>
                </div>
                <hr>
                <div class="circle-box">
                    <a>Application Screening</a>
                    <div class="circle-red">
                        <div class="number-two">2</div>
                    </div>
                    <a>{{regState}}</a>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>
        
        <mat-grid-list cols="1" rowHeight="100">
            <mat-grid-tile [colspan]="1">

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Comment</mat-label>
                    <input disabled matInput type="text" class="form-control"
                    value={{cmpData.comment}} >

                </mat-form-field>

            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <!--Company Details-->
        <mat-grid-list cols="1" rowHeight="100">
            <mat-grid-tile>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <input [disabled]="isNoInput" matInput placeholder="Your input here" type="text" class="form-control"
                        value={{cmpData.company_name}} id="companyName" name="companyName" required>
                </mat-form-field>


            </mat-grid-tile>


            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>URL of the Website</mat-label>
                    <input [disabled]="isNoInput" matInput placeholder="Your input here" type="url" class="form-control"
                        value={{cmpData.company_website}} id="websiteUrl" name="websiteUrl" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input [disabled]="isNoInput" matInput placeholder="Your input here" type="email" class="form-control"
                        value={{cmpData.company_email}} id="emailAddress" name="emailAddress" required>
                </mat-form-field>
            </mat-grid-tile>

            <!--company phone number-->
            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contact No</mat-label>
                    <input [disabled]="isNoInput" matInput placeholder="Your input here" type="email" class="form-control"
                        value={{cmpData.company_phone_number}} id="emailAddress" name="emailAddress" required>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Company Logo</mat-label>
                    <input [disabled]="isNoInput" matInput placeholder="Your input here" type="email" class="form-control"
                        value={{cmpData.company_logo}} id="emailAddress" name="emailAddress" required>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <mat-divider></mat-divider>
        <div>
            <mat-grid-list cols="2" rowHeight="140" style="display: flex; justify-content: space-between">
                <mat-grid-tile style="width: 20%">
                    <button [disabled]="isNoInput" mat-raised-button class="apply-button" color="primary" style="width: 50%">
                        Resubmit
                    </button>
                </mat-grid-tile>

            </mat-grid-list>
        </div>

        <!--Approved or Rejected button -->

    </mat-card>
</div>