<div class="body">

    <mat-card class="card">
        <!--Top Section-->
        <mat-grid-list cols="6" rowHeight="140">
            <mat-grid-tile [colspan]="1">

            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <span class="sectionHeading heading title">
                    <h2>Company Registration Status</h2>
                </span>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <div class="stateBar">
            <div class="container">
                <div class="circle-box">
                    <a>Application Submission</a>
                    <div class="circle">
                        <div class="checkmark"></div>
                    </div>
                    <a>{{cmpData.company_applied_date}}</a>
                </div>
                <hr>
                <div class="circle-box">
                    <a>Application Screening</a>
                    <div class="circle-red">
                        <div class="number-two">2</div>
                    </div>
                    <a class="centered">{{regState}}</a>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>
        <h2>Application is {{regState}}</h2>

        <mat-grid-list cols="1" rowHeight="100">

            <mat-grid-tile [colspan]="1">


                <mat-form-field *ngIf="cmpData.comment" class="form-field" appearance="outline">
                    <mat-label>Comment</mat-label>
                    <input disabled matInput type="text" class="form-control" value={{cmpData.comment}}>

                </mat-form-field>

            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <!--Company Details-->
        <form #updateCompanyDetailsForm="ngForm">
            <h2 *ngIf="cmpData.comment">Please resubmit the application following the instructions provided above.</h2>
            <mat-grid-list cols="1" rowHeight="100">

                <mat-grid-tile><!--Company Name-->

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input matInput placeholder="Your input here" type="text" class="form-control"
                            name="company_name" [(ngModel)]="cmpData.company_name" id="companyName" name="companyName"
                            required>
                    </mat-form-field>


                </mat-grid-tile>


                <mat-grid-tile><!--Company web-->
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>URL of the Website</mat-label>
                        <input matInput placeholder="Your input here" type="url" class="form-control"
                            name="company_website" [(ngModel)]="cmpData.company_website" id="websiteUrl"
                            name="websiteUrl">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile><!--Company Email-->
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input disabled="true" matInput placeholder="Your input here" type="email" class="form-control"
                            name="company_email" [(ngModel)]="cmpData.company_email" id="emailAddress" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">


                        <mat-label>Business Scale</mat-label>
                        <mat-select name="company_business_scale" [(ngModel)]="cmpData.company_business_scale"
                            #company_business_scale required>
                            @for(BScale of BusinessScales ; track BScale){
                            <mat-option [value]="BScale.value">{{ BScale.name }}</mat-option>
                            }
                        </mat-select>

                    </mat-form-field>
                </mat-grid-tile>

                <!--company phone number-->
                <mat-grid-tile><!--Company phone-->
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Contact No</mat-label>
                        <input matInput placeholder="Your input here" type="email" class="form-control"
                            name="company_phone_number" [(ngModel)]="cmpData.company_phone_number" id="emailAddress"
                            required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Business Registration Number</mat-label>
                        <input type="text" matInput placeholder="Business Registration Number" name="business_reg_no"
                            [(ngModel)]="cmpData.business_reg_no" required />
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Company Date of Registartion</mat-label>
                        <input type="date" matInput placeholder="Enter Email"
                            [(ngModel)]="cmpData.company_registered_date" name="company_registered_date" required />
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="1" rowHeight="150">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Company Description</mat-label>
                        <textarea matInput placeholder="Company Description" [(ngModel)]="cmpData.company_description"
                            name="company_description"></textarea>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="130">
                <mat-grid-tile>
                    <div>

                        <mat-label>Company Logo</mat-label>

                        <app-seeker-application-file-upload
                            (fileSelected)="onFileSelected($event,'company_logo')"></app-seeker-application-file-upload>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div>
                        <mat-label>Business Registration Certificate</mat-label>

                        <app-seeker-application-file-upload
                            (fileSelected)="onFileSelected($event,'business_reg_certificate')"></app-seeker-application-file-upload>
                    </div>
                </mat-grid-tile>


                <mat-grid-tile>
                    <div>
                        <mat-label>Certificate of Incorporation</mat-label>

                        <app-seeker-application-file-upload
                            (fileSelected)="onFileSelected($event,'certificate_of_incorporation')"></app-seeker-application-file-upload>
                    </div>
                </mat-grid-tile>



            </mat-grid-list>
        </form>
        <mat-divider></mat-divider>
        <div>
            <mat-grid-list cols="2" rowHeight="140" style="display: flex; justify-content: space-between">
                <mat-grid-tile style="width: 20%">
                    <button [disabled]="isNoInputMain" mat-raised-button class="apply-button" color="primary"
                        style="width: 50%" (click)="ResubmitData()">
                        Resubmit
                    </button>
                </mat-grid-tile>

            </mat-grid-list>
        </div>

        <!--Approved or Rejected button -->

    </mat-card>
</div>