#Documentdownloadcontainer {
    box-sizing: border-box;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
        width: 404px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #a9a9a9;
        background: #f9f9f9;
      }

  @media screen and (max-width: 768px) {
    /* Hide text on mobile screens */
    #Documentdownloadcontainer {
      height: auto;
      align-items: center;
      flex-direction: row;
      width: auto;
      border: none;
      background: none;
    }
    .fileTopic{
      display: none;
    }
  }

    
  
  
