<div class="body">
  <div class="upper-section">
    <button mat-button>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <img
      src="assets/images/dp.png"
      alt="Profile Picture"
      class="profileimage"
    />
    <div class="info">
      <div style="display: flex; align-items: center">
        <label class="name"
          >{{ seekerDetails.first_name }} {{ seekerDetails.last_name }}</label
        >
        <!-- New button -->
        <button mat-button class="View" style="background-color:  #e8e8e8; margin-left: 10px; font-size: 13px;">
          View Profile
          <mat-icon class="view" style="margin-left: 5px">launch</mat-icon>
        </button>
      </div>
      <label class="bio">{{ seekerDetails.bio }}</label>
    </div>

    <!-- New button -->
    <button mat-button class="right-button" style="color: white">
      Button Text
    </button>
  </div>

  <hr />

  <div class="info-container">
    <div class="personalInfo">
      <div>
        <mat-label class="head">First Name</mat-label>
        <span>{{ seekerDetails.first_name }}</span>
      </div>
      <div>
        <mat-label class="head">Last Name</mat-label>
        <span>{{ seekerDetails.last_name }}</span>
      </div>
      <div>
        <mat-label class="head">Phone Number</mat-label>
        <span>{{ seekerDetails.phone_number }}</span>
      </div>
      <div>
        <mat-label class="head">Email Address</mat-label>
        <span>{{ seekerDetails.email }}</span>
      </div>
    </div>
    <div class="button-container">
      <div class="buttons">
        <button mat-button class="Open" style="color: white">Open CV</button>
        <button mat-button class="Download" style="color: teal">
          Download CV
        </button>
      </div>
    </div>
  </div>

  <div class="comment-section" *ngIf="showComments">
    <hr />

    <div>
      <mat-label class="head">Evaluated By</mat-label>
      <span>Sankha Abepitiya, HR Assistant, BISTECH GLOBAL</span>
    </div>
    <div>
      <mat-label class="head">Comment</mat-label>
      <span>
        <textarea></textarea>
      </span>
    </div>
    <div>
      <mat-label class="head">Change the decision</mat-label>
      <span>
        <button mat-button class="reject" style="color: red">Reject</button>
      </span>
    </div>
  </div>
</div>
