<div class="wrapper">
  <mat-card class="body">
    <div class="upper-section">
      <div class="back-button">
				<button mat-icon-button (click)="onBackButtonClick()">
					<mat-icon>arrow_back</mat-icon>
				</button>
			</div>
      <img
        src="{{ applicationDetails.profile_picture }}"
        alt="Profile Picture"
        class="profileimage"/>
      <div class="info">
        <div style="display: flex; align-items: center">
          <label class="name">{{ applicationDetails.first_name }} {{ applicationDetails.last_name }}</label>
          <button
            mat-button
            class="View"
            style="background-color: #e8e8e8; margin-left: 10px; font-size: 13px;">Profile
            <mat-icon class="view" style="margin-left: 5px">launch</mat-icon>
          </button>
        </div>

        <label class="bio">{{ applicationDetails.bio }}</label>
      </div>

      <span
        class="status-label"
        [ngClass]="{
          'status-rejected': applicationDetails.is_evaluated && applicationDetails.last_revision.status === 'Rejected',
          'status-passed': applicationDetails.is_evaluated && applicationDetails.last_revision.status === 'Pass',
          'status-accepted': applicationDetails.is_evaluated && applicationDetails.last_revision.status === 'Accepted',
          'status-not-evaluated': !applicationDetails.is_evaluated
        }"
      >
        {{
          applicationDetails.is_evaluated
            ? applicationDetails.last_revision.status
            : "Not Evaluated"
        }}
      </span>
    </div>

    <mat-divider></mat-divider>

    <div class="info-container">
      <div class="personalInfo">
        <div>
          <mat-label class="head">First Name</mat-label>
          <span>{{ applicationDetails.first_name }}</span>
        </div>
        <div>
          <mat-label class="head">Last Name</mat-label>
          <span>{{ applicationDetails.last_name }}</span>
        </div>
        <div>
          <mat-label class="head">Phone Number</mat-label>
          <span>{{ applicationDetails.phone_number }}</span>
        </div>
        <div>
          <mat-label class="head">Email Address</mat-label>
          <span>{{ applicationDetails.email }}</span>
        </div>
      </div>
      <div class="button-container">
        <div class="buttons">
          <button mat-button class="Open" style="color: white" >Open CV</button>
          <!-- <button mat-button class="Download" style="color: teal">Download CV</button> -->
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="comment-section" *ngIf="showComments">
      <div *ngIf="applicationDetails.is_evaluated">
        <mat-label class="head">Evaluated By</mat-label>
        <span>
          {{ applicationDetails.last_revision.name }},
          {{ getRoleDisplayName(applicationDetails.last_revision.role) }}
        </span>
      </div>

      <div>
        <mat-label class="head">Comment</mat-label>
        <span *ngIf="applicationDetails.last_revision && applicationDetails.last_revision.comment">
          {{ applicationDetails.last_revision.comment }}
        </span>
        <div class="comment-buttons" *ngIf="applicationDetails.is_evaluated">
          <button
            mat-button
            style="margin: 10px; color: grey;"
            (click)="viewCommentHistory()"
          >
            View Comment History
            <mat-icon class="view" style="margin-left: 5px">history</mat-icon>
          </button>
        </div>

        <div *ngIf="!applicationDetails.is_evaluated">
          <textarea [(ngModel)]="newComment" placeholder="Add a comment"></textarea>
          <div style="display: flex; justify-content: space-between"></div>
        </div>
      </div>
    </div>

    <mat-divider *ngIf="applicationDetails.is_evaluated && shouldShowChangeDecision()"></mat-divider>

    <div class="comment-section" *ngIf="showComments">
      <div *ngIf="applicationDetails.is_evaluated && shouldShowChangeDecision()">
        <mat-label class="head">Change the decision</mat-label>
        <div class="comment-decision-section">
          <textarea [(ngModel)]="newComment" placeholder="Add a comment"></textarea>
        </div>
      </div>

      <div *ngIf="shouldShowChangeDecision()" class="decision-buttons">
        <button
          mat-button
          class="eval"
          style="color: white; background-color: #008080"
          (click)="changeDecision('Accepted')"
        >
          Accept
          <mat-icon>check</mat-icon>
        </button>
        <button
          mat-button
          class="eval"
          style="color: white; background-color: rgb(220, 59, 60); border: none;"
          (click)="changeDecision('Rejected')"
        >
          Reject
          <mat-icon>clear</mat-icon>
        </button>
        <button
          mat-button
          *ngIf="this.userRole == 'hra'"
          class="eval"
          style="color: white; background-color: rgba(0, 0, 0, 0.25); border: none;"
          (click)="changeDecision('Pass')"
        >
          <mat-icon>send</mat-icon>
          Pass
        </button>
      </div>
    </div>
  </mat-card>
</div>
