<div>
  <h2 mat-dialog-title>Edit Profile Details</h2>
  <div mat-dialog-content>
    <form class="form">
      <mat-form-field appearance="outline" floatLabel="always" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput #firstName placeholder="Enter your first name" [value]="employee.first_name"
          (input)="employee.first_name = firstName.value" />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput #lastname placeholder="Enter your last name" [value]="employee.last_name"
          (input)="employee.last_name = lastname.value" />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput #email placeholder="Enter your email" [value]="employee.email"
          (input)="employee.email = email.value" />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput #password placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
          [value]="employee.password_hash" (input)="employee.password_hash = password.value" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="updateChanges()" cdkFocusInitial>Update Profile</button>
    <button mat-button (click)="close()">Close</button>
  </div>
</div>