<div *ngIf="hasDataLoaded==true">
  <h2 mat-dialog-title>Edit Profile Details</h2>
  <div mat-dialog-content>

    <form class="form" #updateUserDetails="ngForm" (ngSubmit)="formValidation()">
      <mat-grid-list cols="1" rowHeight="105">

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first Name" name="first_name" [(ngModel)]="employee.first_name"
              (blur)="firstNameValidation()" required />
            <mat-error>{{errorMessageForFirstName}}</mat-error>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last Name" name="last_name" [(ngModel)]="employee.last_name"
              (blur)="lastNameValidation()" required />
            <mat-error>{{errorMessageForLastName}}</mat-error>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" name="email" [(ngModel)]="employee.email"
              (blur)="emailValidation()" required />
            <mat-error>{{errorMessageForEmail}}</mat-error>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" floatLabel="always" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter a new password if required" name="password_hash"
              [(ngModel)]="employee.password_hash" />
            <mat-error>{{errorMessageForPassword}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="apply-button" (click)="formValidation()" cdkFocusInitial>Update Profile</button>

    <button mat-raised-button (click)="close()">Close</button>
  </div>
</div>

<div *ngIf="hasDataLoaded==false" class="loading-page">
  <div mat-dialog-content class="loading-spinner">
    <mat-grid-list cols="2" rowHeight="140">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-label>Loading...</mat-label>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>