.full-width {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin:20px;
  box-sizing: border-box;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
}

mat-form-field {
  margin-bottom: 16px;
}
.content{
  padding: 50px;
}
.loading-page{
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 70%;
}
.loading-spinner{
  justify-content: center;
  align-items: center;
  width: 70%;
}