<div class="page">
  <section class="navbar"></section>
  <div class="form-popup" id="myForm">
    <mat-stepper labelPosition="bottom" #stepper color="primary">
      <form [formGroup]="companyReg">
        <mat-step>

          <ng-template matStepLabel style="width: 100px;"></ng-template>

          <div class="up-container">
            <a>Ashan</a>
            <div class="left">
              <img src="\assets\images\signup1.png" alt="Seeker" class="seeker" />

            </div>

            <div class="right">
              <h3>Register Your Company</h3>
              <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Company Name" formControlName="company_name" required />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Company Web site</mat-label>
                <input matInput placeholder="Company Web site" formControlName="company_website" required />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Enter Email" formControlName="company_email" required />
              </mat-form-field>

              <button mat-button class="custom-stepper1-button" style="color: white; margin-left: 20px;"
                (click)="requestOTP()">Request OTP</button>

              <mat-form-field>
                <mat-label>OTP</mat-label>
                <input matInput placeholder="Enter Email" formControlName="otp_in" required />
              </mat-form-field>

              <button mat-button class="custom-stepper1-button" style="color: white; margin-left: 20px;"
                (click)="VerifyOTP()">Verify OTP</button>

              <div>
                <button mat-button matStepperNext class="custom-stepper1-button"
                  style="color: white; margin-left: 20px;">Next</button>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step>company_applied_date
          <ng-template matStepLabel style="width: 100px;"></ng-template>

          <div class="up-container">
            <div class="left">
            </div>

            <div class="right">

              <h3>Register Your Company</h3>
              <mat-form-field>
                <mat-label>Business Scale</mat-label>
                <input matInput placeholder="Business Scale" formControlName="business_reg_certificate" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Business Phone No</mat-label>
                <input matInput placeholder="Business Phone No" formControlName="company_phone_number" required />
              </mat-form-field>


              <mat-form-field>
                <mat-label>Business Registration Number</mat-label>
                <input type="number" matInput placeholder="Business Registration Number"
                  formControlName="business_reg_no" required />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Date of Registartion</mat-label>
                <input type="date" matInput placeholder="Enter Email" formControlName="company_applied_date" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Documnet 1</mat-label>
                <input matInput placeholder="Enter Email" formControlName="business_reg_certificate" required />
              </mat-form-field>


              <mat-form-field>
                <mat-label>Documnet 2</mat-label>
                <input matInput placeholder="Enter contact Number" formControlName="certificate_of_incorporation"
                  required />


                <button>Upload File</button>

              </mat-form-field>
              <div>
                <button mat-button matStepperNext class="custom-stepper1-button"
                  style="color: white; margin-left: 20px;" (click)="onRegister()">Register</button>
              </div>


            </div>
          </div>




        </mat-step>
      </form>
    </mat-stepper>
  </div>
</div>

<!----
{
  "business_reg_no": 0,
  //"company_name": "string",
  //"company_email": "user@example.com",
  //"company_website": "string",
  //"company_phone_number": 0,
  //"business_reg_certificate": "string",
  //"certificate_of_incorporation": "string",
  //"company_applied_date": "2024-03-25T11:10:08.012Z"
}







-->