<mat-card class="job-card">
    <div class="job-heading">
        <mat-card-title class="job-title">{{job.title}}</mat-card-title>
        <mat-card-subtitle class="company-name">{{job.company_name}}</mat-card-subtitle>
        <p class="job-field">{{job.field_name}}</p>
    </div>
    <div class="job-details-outer">
        <p class="job-details-section">
            <i class="fas fa-briefcase"></i>{{job.employeement_type}}
        </p>
        <p class="job-details-section">
            <i class="fa-solid fa-building"></i>{{job.arrangement}}
        </p>
        <p class="job-details-section">
            <i class="fas fa-map-marker-alt"></i>{{job.location_province}}, {{job.location_city}}
        </p>
    </div> 
    <div class="job-details-outer">
        <app-advertisement-actions></app-advertisement-actions>
        <div class="job-details-inner">
            <p class="post-date" icon="[icon]">Posted On {{job.posted_date}}</p>
            <button mat-button class="show-details" (click)="onClickMoreDetails()">More Details</button>
        </div>
    </div>
</mat-card>
  