<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>
<mat-card class="job-card">
    <div class="job-heading">
        <mat-card-title class="job-title">Senior Flutter Developer</mat-card-title>
        <mat-card-subtitle class="company-name">BISTECH GLOBAL (PVT) LTD</mat-card-subtitle>
        <p class="job-field">Information Technology and Computer Science</p>
    </div>
    <div class="job-details-outer">
        <p class="job-details-section">
            <i class="fas fa-briefcase" style="margin-right: 0.8em;"></i>Part-time
        </p>
        <p class="job-details-section">
            <i class="fa-solid fa-building"></i>Onsite
        </p>
        <p class="job-details-section">
            <i class="fas fa-map-marker-alt"></i>Western, Colombo 07
        </p>
    </div> 
    <div class="job-details-outer">
        <app-advertisement-actions></app-advertisement-actions>
        <div class="job-details-inner">
            <p class="post-date">Posted On Feb 11, 2024</p>
            <button mat-button class="show-details">More Details</button>
        </div>
    </div>
</mat-card>
  