.container{
    padding: 3em;
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
}

.card{
    padding: 2em;
}

.form-container{
    margin-top: 2em;
}

mat-grid-tile mat-form-field{
    width: 100%;
    margin: 0.75em;
}

mat-grid-tile{
    height: auto;
}

.textbox-form-field{
    position: relative;
    width: calc(100% - 2.2em);
    margin: 0 auto;
}

.chips-form-field{
    width: 100%;
    margin-bottom: 1.2em;
}

.description-text-editor{
    padding-left: 1em;
    width: calc(100% - 2.2em);
    margin-bottom: 1.2em;
    padding-top: 1em;
}

.description-text-editor p{
    font-size: 15px;
    word-wrap: break-word;
    margin-top: 0.75em;
    padding-left: 0.75em;
}

.title{
    color: #008080;
    font-size: 25px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word;
}

.companyname{
    color: black;
    font-size: 18px;
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.container-top-content{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}

.created{
    color: black;
    font-size: 15px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word
}

.hrmanagername{
    color: black;
    font-size: 15px;
    font-family: Lato;
    font-style: italic;
    word-wrap: break-word;
    margin-left: 0.5em;
}

mat-hint{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
}

.button-container{
    margin: 2em 1em 1em 1em;
}

.heading{
    display: flex;
    flex-direction: row;
}

.heading-container{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.salary-currency-input{
    width: 35% !important;
}

.salary-input{
    width: 65% !important;
}