<div class="container">
	<mat-card class="card">
		<div class="heading">
			<p class="title">{{(isUpdate) ? 'Update' : 'Create New'}} Job Advertisement {{(isUpdate) ? ': ' + adData.title: ''}}</p>
			<p class="companyname">BISTECH GLOBAL SERVICES</p>
		</div>
		<mat-divider></mat-divider>
		<form class="form-container" #createJobForm="ngForm" (ngSubmit)="(isUpdate) ? updateJob(createJobForm.value) :createNewJob(createJobForm.value)">
			<mat-grid-list cols="{{noOfCols}}" rowHeight="90">
				<mat-grid-tile>
					<mat-form-field color="primary" appearance="outline">
						<mat-label>Post On</mat-label>
						<input matInput [matDatepicker]="picker1" autocomplete="off" [formControl]="currentDate" readonly>
						<mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>  
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Target Job Field</mat-label>
						<mat-select #selectField name="field_id" [(ngModel)]="adData.field_id" (valueChange)="onChangeField(selectField.value)">
						@for (field of fields; track field) {
							<mat-option [value]="field.field_id">{{field.field_name}}</mat-option>
						}
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field color="primary" appearance="outline">
						<mat-label>Deadline</mat-label>
						<input matInput [matDatepicker]="picker2" name="submission_deadline" [(ngModel)]="adData.submission_deadline">
						<mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>  
				</mat-grid-tile>
				<mat-grid-tile colspan="{{((noOfCols - 1 > 0) ? (noOfCols - 1) : 1)}}">
					<mat-form-field appearance="outline">
						<mat-label>Job Title</mat-label>
						<input matInput placeholder="Job Title" name="title" [(ngModel)]="adData.title">
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Job Number</mat-label>
						<input matInput placeholder="Job Number" name="job_number" [(ngModel)]="adData.job_number">
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			<div class="textbox-form-field">
				<mat-form-field appearance="outline" class="chips-form-field">
					<mat-label>Keywords</mat-label>
					<mat-chip-grid #chipGrid aria-label="keyword selection">
						@for (keyword of keywords; track keyword) {
						<mat-chip-row (removed)="remove(keyword)">
							{{keyword}}
							<button matChipRemove [attr.aria-label]="'remove ' + keyword">
							<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip-row>
					}
					</mat-chip-grid>
					<input placeholder="New keyword..." #keywordInput [formControl]="keywordCtrl"
						[matChipInputFor]="chipGrid" [matAutocomplete]="auto"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						(matChipInputTokenEnd)="add($event)"/>
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
						@for (keyword of filteredkeywords | async; track keyword) {
							<mat-option [value]="keyword">{{keyword}}</mat-option>
						}
					</mat-autocomplete>
					<mat-hint>These keywords are used to search purpose of the job title</mat-hint>
				</mat-form-field>
			</div>
				
			<mat-grid-list cols="{{noOfCols}}" rowHeight="90">
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Employment Type</mat-label>
						<mat-select name="employeement_type" [(ngModel)]="adData.employeement_type">
							@for (emptype of empTypes; track emptype) {
								<mat-option [value]="emptype">{{emptype}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Job Arrangement</mat-label>
						<mat-select name="arrangement" [(ngModel)]="adData.arrangement">
							@for (arrangement of jobArrangement; track arrangement) {
								<mat-option [value]="arrangement">{{arrangement}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Experience</mat-label>
						<mat-select name="is_experience_required" [(ngModel)]="adData.is_experience_required">
							<mat-option [value]="false">Not Required</mat-option>
							<mat-option [value]="true">Required</mat-option>
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Country</mat-label>
						<input type="text"
							placeholder="Pick a Country"
							aria-label="Country"
							matInput #countryInput
							[formControl]="locationCountryControl"
							[matAutocomplete]="autocountry" (change)="onSelectedCountryChanged(countryInput.value)">
						<mat-autocomplete autoActiveFirstOption #autocountry="matAutocomplete">
						@for (option of locationCountryFilteredOptions | async; track option) {
							<mat-option [value]="option">{{option}}</mat-option>
						}
						</mat-autocomplete>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>City</mat-label>
						<input type="text"
							placeholder="Pick a City"
							aria-label="City"
							matInput
							[formControl]="locationCityControl"
							[matAutocomplete]="autocity">
						<mat-autocomplete autoActiveFirstOption #autocity="matAutocomplete">
						@for (option of locationCityFilteredOptions | async; track option) {
							<mat-option [value]="option">{{option}}</mat-option>
						}
						</mat-autocomplete>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-form-field appearance="outline">
						<mat-label>Salary {{unitOfSalary != '' ? 'in ' + unitOfSalary : ''}}</mat-label>
						<input matInput placeholder="Salary {{unitOfSalary != '' ? 'in ' + unitOfSalary : ''}}" name="salary" [(ngModel)]="adData.salary">
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			<div class="textbox-form-field">
				<app-add-skills [hint]="'Skills that a candidate should required to have to apply this job'" [skills]="skills" (skillChange)="changeSkillsArray($event)"></app-add-skills>
			</div>

			<div class="description-text-editor">
				<p>Job Description</p>
				<ejs-richtexteditor 
					#fromRTE #name='ngModel' 
					[toolbarSettings]='tools' 
					name="description" 
					[(ngModel)]="description">
				</ejs-richtexteditor>
				<span>{{description.length}}/{{maxTextareaCharLimit}} characters</span>
			</div>


			<div class="button-container">
				<button type="submit" mat-raised-button color="primary" class="button">{{(isUpdate) ? 'Update Details' : 'Post Advertisement'}}</button>
			</div>
		</form>
	</mat-card>
</div>

<app-spinner></app-spinner>