<!-- navbar -->
<app-nav-bar></app-nav-bar>

<!-- Form for editing profile -->
<br /><br />

<div class="form-popup" > 
  <form class="form-container" (submit)="onApply()">

    <!-- Image update -->
    <div class="up-container">
      <div class="left">
        <img [src]="url" height="200px" /><br />
        <input type="file" (change)="onselectFile($event)" />
      </div>

      <!-- Profile Details update in the upper section -->
      <div class="right">
        <mat-form-field class="elem" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput name="first_name" [(ngModel)]="seekerDetails.first_name" placeholder="Enter First Name" />
        </mat-form-field>
        

        <mat-form-field class="elem" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput name="last_name" [(ngModel)]="seekerDetails.last_name" placeholder="Enter Last Name" />
        </mat-form-field>

        <mat-form-field class="elem" appearance="outline">
          <mat-label>Bio</mat-label>
          <input matInput name="bio" [(ngModel)]="seekerDetails.bio" placeholder="Enter Bio" />
        </mat-form-field>
      </div>
    </div>
    <br />
    <br />

    <!-- Profile Details update in the lower section side by side -->
    <div class="sidebyside">
      <mat-form-field class="elem" appearance="outline">
        <mat-label id="des">Description</mat-label>
        <input matInput name="description" [(ngModel)]="seekerDetails.description" placeholder="Description" />
      </mat-form-field>

      <mat-form-field class="elem" appearance="outline">
        <mat-label>LinkedIn URL</mat-label>
        <input matInput name="linkedin" [(ngModel)]="seekerDetails.linkedin" placeholder="Enter LinkedIn" />
      </mat-form-field>

      <mat-form-field class="elem" appearance="outline">
        <mat-label>Field of Work</mat-label>

        <!--<mat-select >
          <mat-option [value]=1>Test</mat-option>
          @for (field of fields; track field) {
            <mat-option [value]="field.field_id">{{field.field_name}}</mat-option>
          }
        </mat-select>-->

        <mat-select [(ngModel)]="seekerDetails.field_id">
          <mat-option value="1">test</mat-option>
          <mat-option value="2">test</mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field class="elem" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput name="phone_number" [(ngModel)]="seekerDetails.phone_number"  placeholder="Enter Phone Number" />
      </mat-form-field>

      <mat-form-field class="elem" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput name="email" [(ngModel)]="seekerDetails.email" placeholder="Enter Email" />
      </mat-form-field>

      <mat-form-field class="elem" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput name="password_hash" [(ngModel)]="seekerDetails.password_hash" placeholder="Enter new Password" />
      </mat-form-field>
    </div>

    <!-- skills update -->
    <div class="skillchip">
      <app-add-skills></app-add-skills>
    </div>

    <br /><br />

    <!-- CV upload button and view button -->
    <div class="button-container">
      <button mat-raised-button color="primary">Upload New</button>
      <button mat-raised-button id="discard">View</button>
    </div>

    <br /><br />

    <!-- Buttons -->
    <mat-divider></mat-divider>

    <br /><br />
    <section>
      <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary">Update Profile</button>
        <button mat-raised-button id="discard" (click)="fetchSeekerDetails()" >Discard Changes</button>
        <button mat-raised-button color="warn" id="delete" (click)="onDelete(seekerDetails.user_id)">
          Delete Profile
        </button>
      </div>
    </section>
  </form>
</div>
<br><p> </p>
<br>
