<app-ca-nav-bar></app-ca-nav-bar>



<div class="page-title">
  <p>Job Offers by BISTEC GLOBAL SERVICES</p>

  <div class="pagetitle-content">
    <span>
      <mat-chip-listbox aria-label="Filter" #filterByStatus (change)="filter(filterByStatus.selected)" >
        <mat-chip-option value="all">All</mat-chip-option>
        <mat-chip-option selected value="active">Active</mat-chip-option>
        <mat-chip-option value="closed">In-active</mat-chip-option>
      </mat-chip-listbox>  
    </span>
    
    <span class="add-new-button">
      <span class="search-box">
        <input class="search" type="text" placeholder="Title" [(ngModel)]="title" (keydown.enter)="search()">

        <button mat-icon-button color="primary" (click)="search()" class="small-icon-button">
          <mat-icon>search</mat-icon>
        </button>
      </span>

      <button mat-raised-button color="primary" (click)="addNew()" class="demo-button">
        <mat-icon>library_add</mat-icon>Add New
      </button>
    </span>
  </div>
</div>

<mat-card class="emptymsg" *ngIf="jobListLength <= 0">
  <div>
    <p class="center-text">Can't Find Any Results!</p>
  </div>
</mat-card>

<div class="adTable mat-elevation-z8" *ngIf="jobListLength > 0">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <!-- JobNo Column -->
    <ng-container matColumnDef="Job Number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Job Number"> Job No </th>
      <td mat-cell *matCellDef="let joboffer"> {{joboffer.job_number}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title"> Title </th>
      <td mat-cell *matCellDef="let joboffer"> {{joboffer.title}} </td>
    </ng-container>

    <!-- postedDate Column -->
    <ng-container matColumnDef="Posted Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date"> Posted Date </th>
      <td mat-cell *matCellDef="let joboffer"> {{joboffer.posted_date}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
      <td mat-cell *matCellDef="let joboffer"> {{joboffer.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Applications">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Application" class="nu-header">Applications</th>
      <td mat-cell *matCellDef="let joboffer" class="nu-column"> {{joboffer.no_of_applications}} </td>
    </ng-container>

    <ng-container matColumnDef="Reviewed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Reviewed" class="nu-header">Reviewed</th>
      <td mat-cell *matCellDef="let joboffer" class="nu-column"> {{joboffer.no_of_evaluated_applications}} </td>
    </ng-container>

    <ng-container matColumnDef="Accepted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Accepted" class="nu-header">Accepted</th>
      <td mat-cell *matCellDef="let joboffer" class="nu-column"> {{joboffer.no_of_accepted_applications}} </td>
    </ng-container>

    <ng-container matColumnDef="Rejected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Rejected" class="nu-header">Rejected</th>
      <td mat-cell *matCellDef="let joboffer" class="nu-column"> {{joboffer.no_of_rejected_applications}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let joboffer" class="action-buttons">
        <span>
          <button mat-icon-button color="primary" (click)="exploreAd(joboffer.advertisement_id)" class="small-icon-button">
            <mat-icon>explore</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editAd(joboffer.advertisement_id)" class="small-icon-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" *ngIf="joboffer.status == 'active'" (click)="changeStatusOfJob(joboffer.advertisement_id, 'Close')" class="small-icon-button">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" *ngIf="joboffer.status == 'closed'" (click)="changeStatusOfJob(joboffer.advertisement_id, 'Activate')" class="small-icon-button">
            <mat-icon>undo</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
